/**
 * @name avalanche
 * @level 1.
 * @description
 *   avalanche is a SCSS framework designed to be a minimal starting point.  
 *   The framework is easy extendable and intended to be edited as needed.
 */
/**
 * @name Function
 * @level 2.
 */
/** inject:function **/
/**
 * @name breakpointmax
 * @level X.X.X.
 * @description
 *   Get the max-width value of a breakpoint  
 *   avalanche-breakpointmax($breakpoint, $base: $font-base-size)
 */
/**
 * @name strip-unit
 * @level X.X.X.
 * @description
 *   avalanche-strip-unit($number)
 */
/** endinject **/
/**
 * @name System
 * @level 3.
 */
/**
 * @name Variable
 * @level 2.1.
 */
/**
 * @name Color Scheme
 * @level 2.1.1.
 * @description Fancy generator: http://coolors.co/
 */
/**
 * @name Basic colors
 * @level 2.1.1.1.
 */
/**
 * @colors
 *   $cs-a|#16193B $cs-b|#35478C $cs-c|#4E7AC7 $cs-d|#7FB2F0 $cs-e|#ADD5F7
 *   $cs-a-contrast|#fff $cs-b-contrast|#fff $cs-c-contrast|#fff $cs-d-contrast|#fff $cs-e-contrast|#fff
 */
/**
 * @name Colors for alerts
 * @level 2.1.1.2.
 * @description e.g. success, error, info,...
 */
/**
 * @colors
 *   $cs-positive|#468847 $cs-neutral|#3A87AD $cs-cautious|#c09853 $cs-negative|#b94a48
 */
/**
 * @name Grey
 * @level 2.1.1.3.
 */
/**
 * @colors
 *   $cs-grey-a|#efefef $cs-grey-b|#d5d5d5 $cs-grey-c|#bcbcbc
 */
/**
 * @name Typography
 * @level 2.1.2.
 * @description
 *   Set the font weight variables according to the font  
 *   e.g. http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700  
 *   In this case set the font weights to 200, 400 and 700  
 *   If you set a font weight in your css you must use this variables!  
 *   e.g. font-weight: $font-a-weight-normal;
 */
/**
 * @name Basic configuration
 * @level 2.1.2.1.
 *
 * 1. must be in px, do not use in your styles
 */
/* [1] */
/* [1] */
/**
 * @variables
 *   $font-base-size|16px $font-base-line-height|24px $font-base-color|#222
 */
/**
 * @name Font sizes
 * @level 2.1.2.2.
 */
/**
 * @name System fonts
 * @level 2.1.2.3.
 */
/**
 * @name Font A
 * @level 2.1.2.3.1.
 */
/**
 * @font ['Helvetica Neue', sans-serif]
 *   ABCDEFGHIJKLMNOPQRSTUVWXYZ  
 *   abcdefghijklmnopqrstuvwxyz  
 *   0123456789  
 *   !&/()$=@;:,.
 */
/**
 * @name Font B
 * @level 2.1.2.3.2.
 */
/**
 * @font [Futura, 'Trebuchet MS', sans-serif]
 *   ABCDEFGHIJKLMNOPQRSTUVWXYZ  
 *   abcdefghijklmnopqrstuvwxyz  
 *   0123456789  
 *   !&/()$=@;:,.
 */
/**
 * @name Anchors
 * @level 2.1.2.4.
 * @markup
 *   <a href="#">Anchor</a>
 */
/**
 * @name Text selection
 * @level 2.1.2.5.
 * @description
 *   Select some text to see it in action
 */
/**
 * @name Breakpoints
 * @level 2.1.3.
 * @description
 *   More infos about media queries:  
 *   [Brad Frost - 7 Habits of highly effective media queries](http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/)
 */
/**
 * @name min Breakpoints
 * @level 2.1.3.1.
 */
/**
 * @variables
 *   $breakpoint-s|30em $breakpoint-m|45em $breakpoint-l|60em $breakpoint-xl|75em
 */
/**
 * @name max Breakpoints
 * @level 2.1.3.2.
 * @description
 *   Use with care, min-width breakpoints should be preferred!
 */
/**
 * @variables
 *   $breakpoint-max-s|29.9375em $breakpoint-max-m|44.9375em $breakpoint-max-l|59.9375em $breakpoint-max-xl|74.9375em
 */
/**
 * @name Spacing
 * @level 2.1.4.
 */
/**
 * @variables
 *   $spacing-xs|0.5em $spacing-s|1em $spacing-m|1.5em $spacing-l|2em $spacing-xl|3em $spacing-xxl|4em $spacing-xxxl|5em
 */
/**
 * @name Layout
 * @level 2.1.5.
 */
/**
 * @variables
 *   $layout-max-width|62em $layout-box-sizing-reset|true
 */
/**
 * @name Base
 * @level 4.
 */
/**
 * @name Default
 * @level 3.1.
 * @description
 *   Base styles: opinionated defaults  
 *   Adopted from the great https://html5boilerplate.com/
 */
html {
  font-size: 100%;
  line-height: 1.5; }

html, button, input, select, textarea {
  color: #222;
  font-family: 'Helvetica Neue', sans-serif; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #d5d5d5; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::-moz-selection {
  background: #16193B;
  color: #fff;
  text-shadow: none; }
::selection {
  background: #16193B;
  color: #fff;
  text-shadow: none; }

/**
 * @name Form
 * @level 3.2.
 * @markup
 *   <form>
 *     <div>
 *       <label for="text">Text field</label>
 *       <input type="text" id="text" name="text" placeholder="Placeholder">
 *     </div>
 *     <div>
 *       <label for="password">Password field</label>
 *       <input type="password" id="password" name="password">
 *     </div>
 *     <div>
 *       <label for="select">Select field</label>
 *       <select id="select" name="select"><option>test</option></select>
 *     </div>
 *     <div>
 *       <input id="radio-lorem" name="radio" type="radio" value="Lorem"> <label for="radio-lorem">Lorem</label>
 *       <input id="radio-ipsum" name="radio" type="radio" value="Ipsum"> <label for="radio-ipsum">Ipsum</label>
 *     </div>
 *     <div>
 *       <input id="checkbox-lorem" name="checkbox" type="checkbox" value="Lorem"> <label for="checkbox-lorem">Lorem</label>
 *       <input id="checkbox-ipsum" name="checkbox" type="checkbox" value="Ipsum"> <label for="checkbox-ipsum">Ipsum</label>
 *     </div>
 *     <div>
 *       <label for="file">File field</label>
 *       <input type="file" id="file" name="file">
 *     </div>
 *     <div>
 *       <label for="range">Range field</label>
 *       <input type="range" id="range" name="range">
 *     </div>
 *     <div>
 *       <input type="submit" value="Submit" class="o-button">
 *       <button type="submit" class="o-button">Submit</button>
 *      </div>
 *   </form>
 */
label {
  display: block; }

button, input, textarea {
  padding: 0.5em;
  max-width: 100%;
  border: 1px solid #bcbcbc;
  line-height: inherit;
  -webkit-transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
          transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s; }
  button:focus, input:focus, textarea:focus {
    outline: none;
    border-color: #16193B;
    box-shadow: 0 0 0.375em #16193B; }

button, input[type='submit'] {
  border: none; }

input[type='radio'], input[type='checkbox'], input[type='file'], input[type='range'] {
  padding: 0;
  max-width: none;
  border: none; }
  input[type='radio']:focus, input[type='checkbox']:focus, input[type='file']:focus, input[type='range']:focus {
    box-shadow: none; }

input[type='radio'] + label, input[type='checkbox'] + label {
  display: inline-block; }

input[type='file'] {
  display: block;
  line-height: normal; }
  input[type='file']:focus {
    border: 0.1875em solid red; }

input[type='range'] {
  display: block;
  width: 100%; }

select[multiple], select[size] {
  height: auto; }

textarea {
  height: auto; }

/**
 * @name Layout
 * @level 3.3.
 */
/**
 * @name Container
 * @level 3.3.1.
 * @description
 *   Basic container to limit the max-width  
 *   of the layout and add some padding
 */
.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 62em; }

/**
 * @name Box sizing reset
 * @level 3.3.2.
 * @description
 *   Better box model  
 *   [Paul Irish - * { Box-sizing: Border-box } FTW](http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * @name Typography
 * @level 3.4.
 */
/**
 * @name Headlines
 * @level 3.4.1.
 * @description
 *   <h1>Headline 1</h1>
 *   <h2>Headline 2</h2>
 *   <h3>Headline 3</h3>
 *   <h4>Headline 4</h4>
 *   <h5>Headline 5</h5>
 *   <h6>Headline 6</h6>
 */
h1, h2, h3, h4 {
  color: #16193B;
  font-weight: 700;
  font-family: Futura, 'Trebuchet MS', sans-serif;
  line-height: 1.35; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-weight: 700;
  font-size: 1em; }

h6 {
  font-weight: 400;
  font-size: 1em; }

/**
 * @name Anchors
 * @level 3.4.2.
 * @markup
 *   <a href="#">readmore...</a>
 *   <span class="a">readmore...</span>
 *   <a href="#" class="a a--rev">reversed hover behaviour</a>
 */
a, .a {
  color: #16193B;
  text-decoration: underline;
  cursor: pointer; }
  a:visited, .a:visited {
    color: #16193B; }
  a:hover, a:focus, .a:hover, .a:focus {
    color: #16193B;
    text-decoration: none; }

.a--rev {
  text-decoration: none; }
  .a--rev:hover, .a--rev:focus {
    text-decoration: underline; }

/**
 * @name Whitespace
 * @level 3.4.3.
 * @markup
 *   <h2>Lorem Ipsum</h2>
 *   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 *   tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
 *   <ul>
 *     <li>Lorem Ipsum dolor</li>
 *     <li>Lorem Ipsum dolor</li>
 *   </ul>
 *   <h3>Lorem Ipsum</h3>
 *   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 *   tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
 */
h1, h2, h3, h4, h5, h6, h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6, p, ul, ol, dl, pre, form, table, figure, address, fieldset, blockquote {
  margin: 0; }

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 1em; }

* + p, * + ul, * + ol, * + dl, * + pre, * + form, * + table, * + figure, * + address, * + fieldset, * + blockquote {
  margin-top: 1.5em; }

ul, ol, dl {
  padding-left: 1.5em; }

/**
 * No margin top for nested lists
 */
li ul, li ol, li dl {
  margin-top: 0; }

/**
 * No margin top for nested tables
 */
table table {
  margin-top: 0; }

/**
 * Normalize default font related tags
 */
b, strong {
  font-weight: 700; }

small {
  font-size: 0.85em; }

/**
 * @name Utility
 * @level 5.
 */
/** inject:utility **/
/**
 * @name Clearfix
 * @level X.X.
 * @description
 *   Contain floats
 */
.u-clearfix {
  *zoom: 1; }
  .u-clearfix:before, .u-clearfix:after {
    display: table;
    content: ' '; }
  .u-clearfix:after {
    clear: both; }

/** endinject **/
/**
 * @name Object
 * @level 6.
 */
/** inject:object **/
/**
 * @name Grid
 * @level X.X.
 */
/**
 * Variables
 */
/**
 * @name Base
 * @level X.X.X.
 * @description
 *   Mobile first styles for all screen sizes
 *
 * @markup
 *   <div class="o-grid">
 *     <div class="o-grid__item--6">Grid Item</div>
 *     <div class="o-grid__item--6">Grid Item</div>
 *   </div>
 */
.o-grid {
  *zoom: 1;
  margin-left: -1em; }
  .o-grid:before, .o-grid:after {
    display: table;
    content: ' '; }
  .o-grid:after {
    clear: both; }

[class*='o-grid__item'] {
  float: left;
  padding-left: 1em;
  width: 100%; }

.o-grid__item--1 {
  width: 8.3333333%; }

.o-grid__item--2 {
  width: 16.6666667%; }

.o-grid__item--3 {
  width: 25%; }

.o-grid__item--4 {
  width: 33.3333333%; }

.o-grid__item--5 {
  width: 41.6666667%; }

.o-grid__item--6 {
  width: 50%; }

.o-grid__item--7 {
  width: 58.3333333%; }

.o-grid__item--8 {
  width: 66.6666667%; }

.o-grid__item--9 {
  width: 75%; }

.o-grid__item--10 {
  width: 83.3333333%; }

.o-grid__item--11 {
  width: 91.6666667%; }

.o-grid__item--12 {
  width: 100%; }

/** endinject **/
/**
 * @name Component
 * @level 7.
 */
/** inject:component **/
/** endinject **/

/*# sourceMappingURL=avalanche.css.map */