/**
 * @name avalanche
 * @level 1.
 * @description
 *   avalanche is a SCSS framework designed to be a minimal starting point.  
 *   The framework is easy extendable and intended to be edited as needed.
 */
/**
 * @name System
 * @level 2.
 */
/**
 * @name Functions
 * @level 2.2.
 */
/**
 * @name strip-units
 * @level 2.2.1.
 * @description
 *   avalanche-strip-units($number)
 */
/**
 * @name px2em
 * @level 2.2.2.
 * @description
 *   Convert a px value to em  
 *   based on $font-base-size  
 *   avalanche-px2em($px, $base: $font-base-size)
 */
/**
 * @name em2px
 * @level 2.2.3.
 * @description
 *   Convert a em value to px  
 *   based on $font-base-size  
 *   avalanche-em2px($em, $base: $font-base-size)
 */
/**
 * @name em2rem
 * @level 2.2.4.
 * @description
 *   Convert a em value to rem  
 *   avalanche-em2rem($em)
 */
/**
 * @name breakpointmax
 * @level 2.2.5.
 * @description
 *   Get the max-width value of a breakpoint  
 *   avalanche-breakpointmax($breakpoint, $base: $font-base-size)
 */
/**
 * @name Variables
 * @level 2.1.
 */
/**
 * @name Color Scheme
 * @level 2.1.1.
 * @description Fancy generator: http://coolors.co/
 */
/**
 * @name Basic colors
 * @level 2.1.1.1.
 */
/**
 * @colors
 *   $cs-a|#16193B $cs-b|#35478C $cs-c|#4E7AC7 $cs-d|#7FB2F0 $cs-e|#ADD5F7
 *   $cs-a-contrast|#fff $cs-b-contrast|#fff $cs-c-contrast|#fff $cs-d-contrast|#fff $cs-e-contrast|#fff
 */
/**
 * @name Colors for alerts
 * @level 2.1.1.2.
 * @description e.g. success, error, info,...
 */
/**
 * @colors
 *   $cs-positive|#468847 $cs-neutral|#3A87AD $cs-cautious|#c09853 $cs-negative|#b94a48
 */
/**
 * @name Grey
 * @level 2.1.1.3.
 */
/**
 * @colors
 *   $cs-grey-a|#efefef $cs-grey-b|#d5d5d5 $cs-grey-c|#bcbcbc
 */
/**
 * @name Typography
 * @level 2.1.2.
 * @description
 *   Set the font weight variables according to the font  
 *   e.g. http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700  
 *   In this case set the font weights to 200, 400 and 700  
 *   If you set a font weight in your css you must use this variables!  
 *   e.g. font-weight: $font-a-weight-normal;
 */
/**
 * @name Basic configuration
 * @level 2.1.2.1.
 *
 * 1. must be in px, do not use in your styles
 */
/* [1] */
/* [1] */
/**
 * @variables
 *   $font-base-size|16px $font-base-line-height|24px $font-base-color|#222
 */
/**
 * @name Font sizes
 * @level 2.1.2.2.
 */
/**
 * @name System fonts
 * @level 2.1.2.3.
 */
/**
 * @name Font A
 * @level 2.1.2.3.1.
 */
/**
 * @font ['Helvetica Neue', sans-serif]
 *   ABCDEFGHIJKLMNOPQRSTUVWXYZ  
 *   abcdefghijklmnopqrstuvwxyz  
 *   0123456789  
 *   !&/()$=@;:,.
 */
/**
 * @name Font B
 * @level 2.1.2.3.2.
 */
/**
 * @font [Futura, 'Trebuchet MS', sans-serif]
 *   ABCDEFGHIJKLMNOPQRSTUVWXYZ  
 *   abcdefghijklmnopqrstuvwxyz  
 *   0123456789  
 *   !&/()$=@;:,.
 */
/**
 * @name Anchors
 * @level 2.1.2.4.
 * @markup
 *   <a href="#">Anchor</a>
 */
/**
 * @name Text selection
 * @level 2.1.2.5.
 * @description
 *   Select some text to see it in action
 */
/**
 * @name Breakpoints
 * @level 2.1.3.
 * @description
 *   More infos about media queries:  
 *   [Brad Frost - 7 Habits of highly effective media queries](http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/)
 */
/**
 * @name min Breakpoints
 * @level 2.1.3.1.
 */
/**
 * @variables
 *   $breakpoint-s|30em $breakpoint-m|45em $breakpoint-l|60em $breakpoint-xl|75em
 */
/**
 * @name max Breakpoints
 * @level 2.1.3.2.
 * @description
 *   Use with care, min-width breakpoints should be preferred!
 */
/**
 * @variables
 *   $breakpoint-max-s|29.9375em $breakpoint-max-m|44.9375em $breakpoint-max-l|59.9375em $breakpoint-max-xl|74.9375em
 */
/**
 * @name Spacing
 * @level 2.1.4.
 */
/**
 * @variables
 *   $spacing-xs|0.5em $spacing-s|1em $spacing-m|1.5em $spacing-l|2em $spacing-xl|3em $spacing-xxl|4em $spacing-xxxl|5em
 */
/**
 * @name Layout
 * @level 2.1.5.
 */
/**
 * @variables
 *   $layout-max-width|62em $layout-box-sizing-reset|true
 */
/**
 * @name Base
 * @level 3.
 */
/**
 * @name Default
 * @level 3.1.
 * @description
 *   Base styles: opinionated defaults  
 *   Adopted from the great https://html5boilerplate.com/
 */
html {
  font-size: 100%;
  line-height: 1.5; }

html, button, input, select, textarea {
  color: #222;
  font-family: 'Helvetica Neue', sans-serif; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #d5d5d5; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::-moz-selection {
  background: #16193B;
  color: #fff;
  text-shadow: none; }
::selection {
  background: #16193B;
  color: #fff;
  text-shadow: none; }

/**
 * @name Form
 * @level 3.2.
 * @markup
 *   <form>
 *     <div>
 *       <label for="text">Text field</label>
 *       <input type="text" id="text" name="text" placeholder="Placeholder">
 *     </div>
 *     <div>
 *       <label for="password">Password field</label>
 *       <input type="password" id="password" name="password">
 *     </div>
 *     <div>
 *       <label for="select">Select field</label>
 *       <select id="select" name="select"><option>test</option></select>
 *     </div>
 *     <div>
 *       <input id="radio-lorem" name="radio" type="radio" value="Lorem"> <label for="radio-lorem">Lorem</label>
 *       <input id="radio-ipsum" name="radio" type="radio" value="Ipsum"> <label for="radio-ipsum">Ipsum</label>
 *     </div>
 *     <div>
 *       <input id="checkbox-lorem" name="checkbox" type="checkbox" value="Lorem"> <label for="checkbox-lorem">Lorem</label>
 *       <input id="checkbox-ipsum" name="checkbox" type="checkbox" value="Ipsum"> <label for="checkbox-ipsum">Ipsum</label>
 *     </div>
 *     <div>
 *       <label for="file">File field</label>
 *       <input type="file" id="file" name="file">
 *     </div>
 *     <div>
 *       <label for="range">Range field</label>
 *       <input type="range" id="range" name="range">
 *     </div>
 *     <div>
 *       <input type="submit" value="Submit" class="button">
 *       <button type="submit" class="button">Submit</button>
 *      </div>
 *   </form>
 */
label {
  display: block; }

button, input, textarea {
  padding: 0.5em;
  max-width: 100%;
  border: 1px solid #bcbcbc;
  line-height: inherit;
  -webkit-transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
          transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s; }
  button:focus, input:focus, textarea:focus {
    outline: none;
    border-color: #16193B;
    box-shadow: 0 0 0.375em #16193B; }

button, input[type='submit'] {
  border: none; }

input[type='radio'], input[type='checkbox'], input[type='file'], input[type='range'] {
  padding: 0;
  max-width: none;
  border: none; }
  input[type='radio']:focus, input[type='checkbox']:focus, input[type='file']:focus, input[type='range']:focus {
    box-shadow: none; }

input[type='radio'] + label, input[type='checkbox'] + label {
  display: inline-block; }

input[type='file'] {
  display: block;
  line-height: normal; }
  input[type='file']:focus {
    border: 0.1875em solid red; }

input[type='range'] {
  display: block;
  width: 100%; }

select[multiple], select[size] {
  height: auto; }

textarea {
  height: auto; }

/**
 * @name Layout
 * @level 3.3.
 */
/**
 * @name Container
 * @level 3.3.1.
 * @description
 *   Basic container to limit the max-width  
 *   of the layout and add some padding
 */
.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 62em; }

/**
 * @name Box sizing reset
 * @level 3.3.2.
 * @description
 *   Better box model  
 *   [Paul Irish - * { Box-sizing: Border-box } FTW](http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * @name Typography
 * @level 3.4.
 */
/**
 * @name Headlines
 * @level 3.4.1.
 * @description
 *   <h1>Headline 1</h1>
 *   <h2>Headline 2</h2>
 *   <h3>Headline 3</h3>
 *   <h4>Headline 4</h4>
 *   <h5>Headline 5</h5>
 *   <h6>Headline 6</h6>
 */
h1, h2, h3, h4 {
  color: #16193B;
  font-weight: 700;
  font-family: Futura, 'Trebuchet MS', sans-serif;
  line-height: 1.35; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-weight: 700;
  font-size: 1em; }

h6 {
  font-weight: 400;
  font-size: 1em; }

/**
 * @name Anchors
 * @level 3.4.2.
 * @markup
 *   <a href="#">readmore...</a>
 *   <span class="a">readmore...</span>
 *   <a href="#" class="a a--reversed">reversed hover behaviour</a>
 */
a, .a {
  color: #16193B;
  text-decoration: underline;
  cursor: pointer; }
  a:visited, .a:visited {
    color: #16193B; }
  a:hover, a:focus, .a:hover, .a:focus {
    color: #16193B;
    text-decoration: none; }

.a--reversed {
  text-decoration: none; }
  .a--reversed:hover, .a--reversed:focus {
    text-decoration: underline; }

/**
 * @name Whitespace
 * @level 3.4.3.
 * @markup
 *   <h2>Lorem Ipsum</h2>
 *   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 *   tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
 *   <ul>
 *     <li>Lorem Ipsum dolor</li>
 *     <li>Lorem Ipsum dolor</li>
 *   </ul>
 *   <h3>Lorem Ipsum</h3>
 *   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 *   tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
 */
h1, h2, h3, h4, h5, h6, h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6, p, ul, ol, dl, pre, form, table, figure, address, fieldset, blockquote {
  margin: 0; }

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 1em; }

* + p, * + ul, * + ol, * + dl, * + pre, * + form, * + table, * + figure, * + address, * + fieldset, * + blockquote {
  margin-top: 1.5em; }

ul, ol, dl {
  padding-left: 1.5em; }

/**
 * No margin top for nested lists
 */
li ul, li ol, li dl {
  margin-top: 0; }

/**
 * No margin top for nested tables
 */
table table {
  margin-top: 0; }

/**
 * Normalize default font related tags
 */
b, strong {
  font-weight: 700; }

small {
  font-size: 0.85em; }

/**
 * @name Utilities
 * @level 4.
 */
/**
 * @name Clearfix
 * @level 4.1.
 * @description
 *   Contain floats
 */
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ' '; }
  .clearfix:after {
    clear: both; }

/**
 * @name List reset
 * @level 4.2.
 */
.list-reset {
  padding-left: 0;
  list-style-type: none; }

/**
 * @name Spacing
 * @level 4.3.
 */
.spacing-wrap > * + * {
  margin-top: 1.5em; }

/**
 * @name Visibility
 * @level 4.4.
 */
/**
 * @name .hidden
 * @level 4.4.1.
 * @description
 *   Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/**
 * @name .visuallyhidden
 * @level 4.4.2.
 * @description
 *   Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto; }

/**
 * @name .invisible
 * @level 4.4.3.
 * @description
 *   Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/**
 * @name Components
 * @level 5.
 */
/**
 * @name Grid
 * @level 5.1.
 */
/**
 * Variables
 */
/**
 * @name Base
 * @level 5.1.1.
 * @description
 *   Mobile first styles for all screen sizes
 *
 * @markup
 *   <div class="grid">
 *     <div class="grid__item--6">Grid Item</div>
 *     <div class="grid__item--6">Grid Item</div>
 *   </div>
 */
.grid {
  *zoom: 1;
  margin-left: -1em; }
  .grid:before, .grid:after {
    display: table;
    content: ' '; }
  .grid:after {
    clear: both; }

[class*='grid__item'] {
  float: left;
  padding-left: 1em;
  width: 100%; }

.grid__item--1 {
  width: 8.33333%; }

.grid__item--2 {
  width: 16.66667%; }

.grid__item--3 {
  width: 25%; }

.grid__item--4 {
  width: 33.33333%; }

.grid__item--5 {
  width: 41.66667%; }

.grid__item--6 {
  width: 50%; }

.grid__item--7 {
  width: 58.33333%; }

.grid__item--8 {
  width: 66.66667%; }

.grid__item--9 {
  width: 75%; }

.grid__item--10 {
  width: 83.33333%; }

.grid__item--11 {
  width: 91.66667%; }

.grid__item--12 {
  width: 100%; }

/**
   * @name Small
   * @level 5.1.2.
   * @description
   *   Screen sizes 30em (480px) and up
   *
   *  @markup
   *    <div class="grid">
   *      <div class="grid__item--12 grid__item--s--6">Grid Item</div>
   *      <div class="grid__item--12 grid__item--s--6">Grid Item</div>
   *    </div>
   */
@media (min-width: 30em) {
  .grid__item--s--1 {
    width: 8.33333%; }
  .grid__item--s--2 {
    width: 16.66667%; }
  .grid__item--s--3 {
    width: 25%; }
  .grid__item--s--4 {
    width: 33.33333%; }
  .grid__item--s--5 {
    width: 41.66667%; }
  .grid__item--s--6 {
    width: 50%; }
  .grid__item--s--7 {
    width: 58.33333%; }
  .grid__item--s--8 {
    width: 66.66667%; }
  .grid__item--s--9 {
    width: 75%; }
  .grid__item--s--10 {
    width: 83.33333%; }
  .grid__item--s--11 {
    width: 91.66667%; }
  .grid__item--s--12 {
    width: 100%; } }

/**
   * @name Medium
   * @level 5.1.3.
   * @description
   *   Screen sizes 45em (720px) and up
   *
   *  @markup
   *    <div class="grid">
   *      <div class="grid__item--12 grid__item--s--6 grid__item--m--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--s--6 grid__item--m--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--s--6 grid__item--m--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--s--6 grid__item--m--3">Grid Item</div>
   *    </div>
   */
@media (min-width: 45em) {
  .grid {
    margin-left: -1.5em; }
  [class*='grid__item'] {
    padding-left: 1.5em; }
  .grid__item--m--1 {
    width: 8.33333%; }
  .grid__item--m--2 {
    width: 16.66667%; }
  .grid__item--m--3 {
    width: 25%; }
  .grid__item--m--4 {
    width: 33.33333%; }
  .grid__item--m--5 {
    width: 41.66667%; }
  .grid__item--m--6 {
    width: 50%; }
  .grid__item--m--7 {
    width: 58.33333%; }
  .grid__item--m--8 {
    width: 66.66667%; }
  .grid__item--m--9 {
    width: 75%; }
  .grid__item--m--10 {
    width: 83.33333%; }
  .grid__item--m--11 {
    width: 91.66667%; }
  .grid__item--m--12 {
    width: 100%; } }

/**
   * @name Large
   * @level 5.1.4.
   * @description
   *   Screen sizes 60em (960px) and up
   *
   *  @markup
   *    <div class="grid">
   *      <div class="grid__item--12 grid__item--m--6 grid__item--l--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--m--6 grid__item--l--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--m--6 grid__item--l--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--m--6 grid__item--l--3">Grid Item</div>
   *    </div>
   */
@media (min-width: 60em) {
  .grid {
    margin-left: -1.5em; }
  [class*='grid__item'] {
    padding-left: 1.5em; }
  .grid__item--l--1 {
    width: 8.33333%; }
  .grid__item--l--2 {
    width: 16.66667%; }
  .grid__item--l--3 {
    width: 25%; }
  .grid__item--l--4 {
    width: 33.33333%; }
  .grid__item--l--5 {
    width: 41.66667%; }
  .grid__item--l--6 {
    width: 50%; }
  .grid__item--l--7 {
    width: 58.33333%; }
  .grid__item--l--8 {
    width: 66.66667%; }
  .grid__item--l--9 {
    width: 75%; }
  .grid__item--l--10 {
    width: 83.33333%; }
  .grid__item--l--11 {
    width: 91.66667%; }
  .grid__item--l--12 {
    width: 100%; } }

/**
   * @name X-Large
   * @level 5.1.5.
   * @description
   *   Screen sizes 75em (1200px) and up
   *
   *  @markup
   *    <div class="grid">
   *      <div class="grid__item--12 grid__item--l--6 grid__item--xl--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--l--6 grid__item--xl--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--l--6 grid__item--xl--3">Grid Item</div>
   *      <div class="grid__item--12 grid__item--l--6 grid__item--xl--3">Grid Item</div>
   *    </div>
   */
@media (min-width: 75em) {
  .grid {
    margin-left: -1.5em; }
  [class*='grid__item'] {
    padding-left: 1.5em; }
  .grid__item--xl--1 {
    width: 8.33333%; }
  .grid__item--xl--2 {
    width: 16.66667%; }
  .grid__item--xl--3 {
    width: 25%; }
  .grid__item--xl--4 {
    width: 33.33333%; }
  .grid__item--xl--5 {
    width: 41.66667%; }
  .grid__item--xl--6 {
    width: 50%; }
  .grid__item--xl--7 {
    width: 58.33333%; }
  .grid__item--xl--8 {
    width: 66.66667%; }
  .grid__item--xl--9 {
    width: 75%; }
  .grid__item--xl--10 {
    width: 83.33333%; }
  .grid__item--xl--11 {
    width: 91.66667%; }
  .grid__item--xl--12 {
    width: 100%; } }

/**
 * @name Button
 * @level 5.2.
 */
/**
 * Variables
 */
/**
 * @name Base
 * @level 5.2.1.
 * @markup
 *   <a href="#" class="button">Button</a>
 *   <button class="button">Button</button>
 */
.button {
  display: inline-block;
  margin: 0;
  padding: 0.5em 1em;
  border: none;
  background: #16193B;
  vertical-align: top;
  white-space: nowrap;
  font-size: 100%;
  font-family: inherit;
  cursor: pointer; }
  .button, .button:hover, .button:focus, .button:active, .button:visited {
    outline: none;
    color: #fff;
    text-decoration: none; }
  .button:hover, .button:focus, .button:active {
    background: #5b5e75; }

/**
 * @name Sizes
 * @level 5.2.2.
 */
/**
   * @name Small
   * @level 5.2.2.1.
   * @markup
   *   <a href="#" class="button button--s">Button</a>
   */
.button--s {
  padding: 0 0.5em; }

/**
   * @name Large
   * @level 5.2.2.2.
   * @markup
   *   <a href="#" class="button button--l">Button</a>
   */
.button--l {
  padding: 1em 1.5em; }

/**
   * @name X-Large
   * @level 5.2.2.3.
   * @markup
   *   <a href="#" class="button button--xl">Button</a>
   */
.button--xl {
  padding: 1.5em 2em; }

/**
   * @name Full
   * @level 5.2.2.4.
   * @markup
   *   <a href="#" class="button button--full">Button</a>
   */
.button--full {
  width: 100%;
  text-align: center; }

/**
 * @name Font sizes
 * @level 5.2.3.
 */
/**
   * @name Small
   * @level 5.2.3.1.
   * @markup
   *   <a href="#" class="button button--font--s">Button</a>
   */
.button--font--s {
  font-size: 0.85em; }

/**
   * @name Large
   * @level 5.2.3.2.
   * @markup
   *   <a href="#" class="button button--font--l">Button</a>
   */
.button--font--l {
  font-size: 1.25em; }

/**
   * @name X-Large
   * @level 5.2.3.3.
   * @markup
   *   <a href="#" class="button button--font--xl">Button</a>
   */
.button--font--xl {
  font-size: 1.5em; }

/**
 * @name Functions
 * @level 5.2.4.
 */
/**
   * @name Positive
   * @level 5.2.4.1.
   * @markup
   *   <a href="#" class="button button--positive">Button</a>
   */
.button--positive {
  background: #468847;
  color: #fff; }
  .button--positive:hover, .button--positive:focus, .button--positive:active {
    background: #7dab7e; }

/**
   * @name Neutral
   * @level 5.2.4.2.
   * @markup
   *   <a href="#" class="button button--neutral">Button</a>
   */
.button--neutral {
  background: #3A87AD;
  color: #fff; }
  .button--neutral:hover, .button--neutral:focus, .button--neutral:active {
    background: #75abc5; }

/**
   * @name Cautious
   * @level 5.2.4.3.
   * @markup
   *   <a href="#" class="button button--cautious">Button</a>
   */
.button--cautious {
  background: #c09853;
  color: #fff; }
  .button--cautious:hover, .button--cautious:focus, .button--cautious:active {
    background: #d2b686; }

/**
   * @name Negative
   * @level 5.2.4.4.
   * @markup
   *   <a href="#" class="button button--negative">Button</a>
   */
.button--negative {
  background: #b94a48;
  color: #fff; }
  .button--negative:hover, .button--negative:focus, .button--negative:active {
    background: #ce807e; }

/**
   * @name Inactive / disabled
   * @level 5.2.4.5.
   * @markup
   *   <a href="#" class="button button--inactive">Button</a>
   *   <a href="#" class="button button--disabled">Button</a>
   */
.button--inactive, .button--inactive:hover, .button--inactive:focus, .button--inactive:active, .button--disabled, .button--disabled:hover, .button--disabled:focus, .button--disabled:active {
  background-color: #efefef;
  color: #bcbcbc; }

.button--disabled, .button--disabled:hover, .button--disabled:focus, .button--disabled:active {
  cursor: text; }

/**
 * @name Menu
 * @level 5.3.
 */
/**
 * Variables
 */
/**
 * Defaults
 */
.menu__list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  background: #16193B; }

.menu__list--level1 {
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s; }

.menu__item {
  position: relative; }

.menu__link {
  display: block;
  text-decoration: none; }
  .menu__link, .menu__link:hover, .menu__link:focus, .menu__link:visited {
    color: #fff; }

.menu__checkbox {
  display: none; }

@media (min-width: 45em) {
  .menu__controls {
    display: none; } }

/**
   * @name Off canvas
   * @level 5.3.1.
   *
   * @markup
   *   <nav class="menu menu--off-canvas">
   *     <div class="menu__controls">
   *       <label for="menu__checkbox" class="menu__toggle button button--s">&#9776; Menu</label>
   *     </div>
   *     <input id="menu__checkbox" class="menu__checkbox" name="menu__checkbox" type="checkbox">
   *     <ul class="menu__list menu__list--level1">
   *       <li class="menu__item menu__item--level1">
   *         <a href="#" class="menu__link menu__link--level1">Link 1</a>
   *       </li>
   *       <li class="menu__item menu__item--level1">
   *         <a href="#" class="menu__link menu__link--level1">Link 2</a>
   *       </li>
   *       <li class="menu__item menu__item--level1">
   *         <a href="#" class="menu__link menu__link--level1">Link 3</a>
   *       </li>
   *     </ul>
   *   </nav>
   */
html {
  position: relative; }

.menu--off-canvas .menu__controls {
  display: block; }
.menu--off-canvas .menu__list--level1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  max-width: 20em;
  width: 70%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0); }
.menu--off-canvas .menu__checkbox:checked + .menu__list--level1 {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }

/**
   * @name Horizontal
   * @level 5.3.2.
   */
.menu--horizontal .menu__list--level1, .menu--horizontal-responsive .menu__list--level1 {
  *zoom: 1; }
  .menu--horizontal .menu__list--level1:before, .menu--horizontal .menu__list--level1:after, .menu--horizontal-responsive .menu__list--level1:before, .menu--horizontal-responsive .menu__list--level1:after {
    display: table;
    content: ' '; }
  .menu--horizontal .menu__list--level1:after, .menu--horizontal-responsive .menu__list--level1:after {
    clear: both; }

/**
     * @name Horizontal (non responsiv)
     * @level 5.3.2.1.
     *
     * @markup
     *   <nav class="menu menu--horizontal">
     *     <ul class="menu__list menu__list--level1">
     *       <li class="menu__item menu__item--level1">
     *         <a href="#" class="menu__link menu__link--level1">Link 1</a>
     *         <ul class="menu__list menu__list--level2">
     *           <li class="menu__item menu__item--level2">
     *             <a href="#" class="menu__link menu__link--level2">Link 1.1</a>
     *           </li>
     *           <li class="menu__item menu__item--level2">
     *             <a href="#" class="menu__link menu__link--level2">Link 1.2</a>
     *           </li>
     *         </ul>
     *       </li>
     *       <li class="menu__item menu__item--level1">
     *         <a href="#" class="menu__link menu__link--level1">Link 2</a>
     *       </li>
     *       <li class="menu__item menu__item--level1">
     *         <a href="#" class="menu__link menu__link--level1">Link 3</a>
     *       </li>
     *     </ul>
     *   </nav>
     */
.menu--horizontal .menu__list--level1 .menu__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s; }
.menu--horizontal .menu__list--level1 .menu__list .menu__list {
  top: 0;
  left: 100%; }
.menu--horizontal .menu__item:hover > .menu__list, .menu--horizontal .menu__item:focus > .menu__list {
  visibility: visible;
  opacity: 1; }
.menu--horizontal .menu__item--level1 {
  float: left; }

/**
     * @name Horizontal responsiv
     * @level 5.3.2.2.
     *
     * @markup
     *   <nav class="menu menu--horizontal-responsive">
     *     <div class="menu__controls">
     *       <label for="menu__checkbox-horizontal" class="menu__toggle button button--s">&#9776; Menu</label>
     *     </div>
     *     <input id="menu__checkbox-horizontal" class="menu__checkbox" name="menu__checkbox-horizontal" type="checkbox">
     *     <ul class="menu__list menu__list--level1">
     *       <li class="menu__item menu__item--level1">
     *         <a href="#" class="menu__link menu__link--level1">Link 1</a>
     *         <ul class="menu__list menu__list--level2">
     *           <li class="menu__item menu__item--level2">
     *             <a href="#" class="menu__link menu__link--level2">Link 1.1</a>
     *           </li>
     *           <li class="menu__item menu__item--level2">
     *             <a href="#" class="menu__link menu__link--level2">Link 1.2</a>
     *           </li>
     *         </ul>
     *       </li>
     *       <li class="menu__item menu__item--level1">
     *         <a href="#" class="menu__link menu__link--level1">Link 2</a>
     *       </li>
     *       <li class="menu__item menu__item--level1">
     *         <a href="#" class="menu__link menu__link--level1">Link 3</a>
     *       </li>
     *     </ul>
     *   </nav>
     */
@media (max-width: 44.9375em) {
  .menu--horizontal-responsive .menu__list--level1 {
    height: 0;
    -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0; }
  .menu--horizontal-responsive .menu__checkbox:checked + .menu__list--level1 {
    height: auto;
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1); }
  .menu--horizontal-responsive .menu__item--level1 {
    float: none; } }
@media (min-width: 45em) {
  .menu--horizontal-responsive .menu__list--level1 .menu__list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
  .menu--horizontal-responsive .menu__list--level1 .menu__list .menu__list {
    top: 0;
    left: 100%; }
  .menu--horizontal-responsive .menu__item:hover > .menu__list, .menu--horizontal-responsive .menu__item:focus > .menu__list {
    visibility: visible;
    opacity: 1; }
  .menu--horizontal-responsive .menu__item--level1 {
    float: left; } }

/**
   * @name Vertical
   * @level 5.3.3.
   *
   * @markup
   *   <nav class="menu menu--vertical">
   *     <ul class="menu__list menu__list--level1">
   *       <li class="menu__item menu__item--level1">
   *         <a href="#" class="menu__link menu__link--level1">Link 1</a>
   *         <ul class="menu__list menu__list--level2">
   *           <li class="menu__item menu__item--level2">
   *             <a href="#" class="menu__link menu__link--level2">Link 1.1</a>
   *           </li>
   *           <li class="menu__item menu__item--level2">
   *             <a href="#" class="menu__link menu__link--level2">Link 1.2</a>
   *           </li>
   *         </ul>
   *       </li>
   *       <li class="menu__item menu__item--level1">
   *         <a href="#" class="menu__link menu__link--level1">Link 2</a>
   *       </li>
   *       <li class="menu__item menu__item--level1">
   *         <a href="#" class="menu__link menu__link--level1">Link 3</a>
   *       </li>
   *     </ul>
   *   </nav>
   */
/**
 * @name Island
 * @level 5.4.
 */
/**
 * Variables
 */
/**
 * @name Base
 * @level 5.4.1.
 * @description
 *   A single class used to box off content, leaving it closed on all sides like, well, an island.  
 *   [Harry Roberts - The 'island' object](http://csswizardry.com/2011/10/the-island-object/)
 *
 * @markup
 *   <div class="island">
 *     Island
 *   </div>
 */
.island {
  display: block;
  padding: 1.5em;
  background: #efefef; }
  .island > :last-child {
    margin-bottom: 0; }

/**
 * @name Functions
 * @level 5.4.2.
 */
/**
   * @name Positive
   * @level 5.4.2.1.
   * @description
   *   Positive actions; e.g. sign in, purchase, submit, etc.
   *
   * @markup
   *   <div class="island island--positive">
   *     Positive Island
   *   </div>
   */
.island--positive {
  background: #dae7da;
  color: #468847; }

/**
   * @name Neutral
   * @level 5.4.2.2.
   *
   * @markup
   *   <div class="island island--neutral">
   *     Neutral Island
   *   </div>
   */
.island--neutral {
  background: #d7e7ee;
  color: #3A87AD; }

/**
   * @name Cautious
   * @level 5.4.2.3.
   *
   * @markup
   *   <div class="island island--cautious">
   *     Cautious Island
   *   </div>
   */
.island--cautious {
  background: #f2eadc;
  color: #c09853; }

/**
   * @name Negative
   * @level 5.4.2.4.
   * @description
   *   Negative actions; e.g. close account, delete photo, remove friend, etc.
   *
   * @markup
   *   <div class="island island--negative">
   *     Negative Island
   *   </div>
   */
.island--negative {
  background: #f1dada;
  color: #b94a48; }

/**
 * @name Color scheme
 * @level 5.4.3.
 */
/**
   * @name cs-a
   * @level 5.4.3.1.
   *
   * @markup
   *   <div class="island island--cs-a">
   *     cs-a Island
   *   </div>
   */
.island--cs-a {
  background: #16193B;
  color: #fff; }

/**
   * @name cs-b
   * @level 5.4.3.2.
   *
   * @markup
   *   <div class="island island--cs-b">
   *     cs-b Island
   *   </div>
   */
.island--cs-b {
  background: #35478C;
  color: #fff; }

/**
   * @name cs-c
   * @level 5.4.3.3.
   *
   * @markup
   *   <div class="island island--cs-c">
   *     cs-c Island
   *   </div>
   */
.island--cs-c {
  background: #4E7AC7;
  color: #fff; }

/**
   * @name cs-d
   * @level 5.4.3.4.
   *
   * @markup
   *   <div class="island island--cs-d">
   *     cs-d Island
   *   </div>
   */
.island--cs-d {
  background: #7FB2F0;
  color: #fff; }

/**
   * @name cs-e
   * @level 5.4.3.5.
   *
   * @markup
   *   <div class="island island--cs-e">
   *     cs-e Island
   *   </div>
   */
.island--cs-e {
  background: #ADD5F7;
  color: #fff; }

/**
 * @name Media
 * @level 5.5.
 */
/**
 * @name Base
 * @level 5.5.1.
 * @description
 *   The media object is an image on one side, with descriptive content on the other side.  
 *   [Nicole Sullivan - The media object saves hundreds of lines of code](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code)
 *
 * @markup
 *   <div class="media">
 *     <div class="media__img">
 *       <img src="http://placehold.it/70x70" alt="">
 *     </div>
 *     <div class="media__body">
 *       Lorem ipsum dolor sit...
 *     </div>
 *   </div>
 *   <div class="media">
 *     <div class="media__img--rev">
 *       <img src="http://placehold.it/70x70" alt="">
 *     </div>
 *     <div class="media__body">
 *       Lorem ipsum dolor sit...
 *     </div>
 *   </div>
 */
.media {
  *zoom: 1; }
  .media:before, .media:after {
    display: table;
    content: ' '; }
  .media:after {
    clear: both; }

/**
 * Reset media styling on small screens
 */
@media (max-width: 44.9375em) {
  .media--mobile-reset .media__img {
    float: none;
    margin-right: 0; }
  .media--mobile-reset .media__img--rev {
    float: none;
    margin-left: 0; } }

.media__img {
  float: left;
  margin-right: 1.5em; }

/**
 * Reversed image location (right instead of left).
 */
.media__img--rev {
  float: right;
  margin-left: 1.5em; }

.media__img img, .media__img--rev img {
  display: block; }

.media__body {
  overflow: hidden; }



/*# sourceMappingURL=avalanche.css.map */