/*------------------------------------*\
  BREAKPOINT
\*------------------------------------*/
/**
 * CONTENTS
 * BREAKPOINT-MIN......
 * BREAKPOINT-MAX......
 * BREAKPOINT-BETWEEN..
 */



$breakpoint-pixel2em: true !default;



/*------------------------------------*\
  $BREAKPOINT-MIN
\*------------------------------------*/

@mixin breakpoint-min($min-width, $media: "") {
  @if $breakpoint-pixel2em {
    $min-width: pixel2em($min-width);
  }

  $media: "#{$media} (min-width: #{$min-width})";

  @media #{$media} {
    @content;
  }
}



/*------------------------------------*\
  $BREAKPOINT-MAX
\*------------------------------------*/

@mixin breakpoint-max($max-width, $media: "") {
  @if $breakpoint-pixel2em {
    $max-width: pixel2em($max-width);
  }

  $media: "#{$media} (max-width: #{$max-width})";

  @media #{$media} {
    @content;
  }
}



/*------------------------------------*\
  $BREAKPOINT-BETWEEN
\*------------------------------------*/

@mixin breakpoint-between($min-width, $max-width, $media: "") {
  @if $breakpoint-pixel2em {
    $min-width: pixel2em($min-width);
    $max-width: pixel2em($max-width);
  }

  $media: "#{$media} (min-width: #{$min-width}) and (max-width: #{$max-width})";

  @media #{$media} {
    @content;
  }
}