////
/// Media object - image on left/right, text next to it.
///
/// @group Object: media
/// @author Markus Oberlehner
////

/// Wrapper.
///
/// @param {Number [unit]} $spacing [1em]
///   Spacing.
/// @param {Boolean} $layout [true]
///   Enable or disable returning layout properties.
///
/// @example scss - Usage
///   .selector {
///     @include o-media();
///   }
///
/// @example css - CSS Output
///   .selector {
///     display: flex;
///   }
///   .selector > :last-child {
///     margin-left: 1em;
///   }
@mixin o-media($spacing: 1em, $layout: true) {
  @if $layout {
    display: flex;
  }
  @if $spacing > 0 {
    > :last-child {
      margin-left: $spacing;
    }
  }
}

/// Figure.
///
/// @example scss - Usage
///   .selector {
///     @include o-media-figure();
///   }
///
/// @example css - CSS Output
///   .selector { }
@mixin o-media-figure() {
  // This is currently only a placeholder that may be used later.
}

/// Body.
///
/// @example scss - Usage
///   .selector {
///     @include o-media-body();
///   }
///
/// @example css - CSS Output
///   .selector {
///     flex: 1;
///   }
@mixin o-media-body() {
  flex: 1;
}
