/*---
title:   Media
name:    object_media
section: Object
---

Media object - image on left/right, text next to it.  
[Nicole Sullivan - The media object saves hundreds of lines of code](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code)

**TIP:** You can use this package in combination with the
[align-self utility package](https://github.com/avalanchesass/avalanche_utility_align_self).
*/
