@import 'avalanchesass_object_media/style_guide';

$o-media-namespace: '#{map-get($namespace, object)}media' !default;

$o-media-default-size: s !default;
$o-media-sizes: () !default;
$o-media-stacked-breakpoints: () !default;
$o-media-collapsed: false !default;
/*---
title:   Variable
name:    object_media_variable
section: object_media
order:   2
---

```css
$o-media-namespace: '#{$o-media-namespace}';
$o-media-default-size: #{$o-media-default-size};
$o-media-sizes: (#{$o-media-sizes});
$o-media-stacked-breakpoints: (#{$o-media-stacked-breakpoints});
$o-media-collapsed: #{$o-media-collapsed};
```
*/
