/**
 * @name Menu
 * @level 5.3.
 */
/**
 * Variables
 */
$o-menu: true;

// Breakpoint for mobile version of menu
$o-menu-mobile-breakpoint: $breakpoint-m;

// Horizontal
$o-menu-horizontal: true;
$o-menu-horizontal-responsive: true;

// Menu vertical
$o-menu-vertical: true;

// Off canvas
$o-menu-off-canvas: true;



/**
 * Defaults
 */
.o-menu__list {
  @include u-list-reset();
  margin: 0;
  background: $cs-a;
}

.o-menu__list--level1 {
  transition: transform 0.2s;
}

.o-menu__item {
  position: relative;
}

.o-menu__link {
  display: block;
  text-decoration: none;
  &,
  &:hover,
  &:focus,
  &:visited {
    color: $cs-a-contrast;
  }
}

.o-menu__checkbox {
  display: none;
}

.o-menu__controls {
  @media (min-width: $o-menu-mobile-breakpoint) {
    display: none;
  }
}



@if $o-menu-off-canvas {
  /**
   * @name Off canvas
   * @level 5.3.1.
   *
   * @markup
   *   <nav class="o-menu o-menu--off-canvas">
   *     <div class="o-menu__controls">
   *       <label for="o-menu__checkbox" class="o-menu__toggle button button--s">&#9776; Menu</label>
   *     </div>
   *     <input id="o-menu__checkbox" class="o-menu__checkbox" name="o-menu__checkbox" type="checkbox">
   *     <ul class="o-menu__list o-menu__list--level1">
   *       <li class="o-menu__item o-menu__item--level1">
   *         <a href="#" class="o-menu__link o-menu__link--level1">Link 1</a>
   *       </li>
   *       <li class="o-menu__item o-menu__item--level1">
   *         <a href="#" class="o-menu__link o-menu__link--level1">Link 2</a>
   *       </li>
   *       <li class="o-menu__item o-menu__item--level1">
   *         <a href="#" class="o-menu__link o-menu__link--level1">Link 3</a>
   *       </li>
   *     </ul>
   *   </nav>
   */
  html {
    position: relative;
  }
  .o-menu--off-canvas {
    .o-menu__controls {
      display: block;
    }
    .o-menu__list--level1 {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      max-width: 20em;
      width: 70%;
      transform: translate(-100%, 0);
    }
    .o-menu__checkbox:checked + .o-menu__list--level1 {
      transform: translate(0, 0);
    }
  }
}



@if $o-menu-horizontal or $o-menu-horizontal-responsive {
  /**
   * @name Horizontal
   * @level 5.3.2.
   */
  .o-menu--horizontal,
  .o-menu--horizontal-responsive {
    .o-menu__list--level1 {
      @include u-clearfix();
    }
  }

  @if $o-menu-horizontal {
    /**
     * @name Horizontal (non responsiv)
     * @level 5.3.2.1.
     *
     * @markup
     *   <nav class="o-menu o-menu--horizontal">
     *     <ul class="o-menu__list o-menu__list--level1">
     *       <li class="o-menu__item o-menu__item--level1">
     *         <a href="#" class="o-menu__link o-menu__link--level1">Link 1</a>
     *         <ul class="o-menu__list o-menu__list--level2">
     *           <li class="o-menu__item o-menu__item--level2">
     *             <a href="#" class="o-menu__link o-menu__link--level2">Link 1.1</a>
     *           </li>
     *           <li class="o-menu__item o-menu__item--level2">
     *             <a href="#" class="o-menu__link o-menu__link--level2">Link 1.2</a>
     *           </li>
     *         </ul>
     *       </li>
     *       <li class="o-menu__item o-menu__item--level1">
     *         <a href="#" class="o-menu__link o-menu__link--level1">Link 2</a>
     *       </li>
     *       <li class="o-menu__item o-menu__item--level1">
     *         <a href="#" class="o-menu__link o-menu__link--level1">Link 3</a>
     *       </li>
     *     </ul>
     *   </nav>
     */
    .o-menu--horizontal {
      .o-menu__list--level1 .o-menu__list {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s;
      }
      .o-menu__list--level1 .o-menu__list .o-menu__list {
        top: 0;
        left: 100%;
      }
      .o-menu__item:hover > .o-menu__list,
      .o-menu__item:focus > .o-menu__list {
        visibility: visible;
        opacity: 1;
      }
      .o-menu__item--level1 {
        float: left;
      }
    }
  }

  @if $o-menu-horizontal-responsive {
    /**
     * @name Horizontal responsiv
     * @level 5.3.2.2.
     *
     * @markup
     *   <nav class="o-menu o-menu--horizontal-responsive">
     *     <div class="o-menu__controls">
     *       <label for="o-menu__checkbox-horizontal" class="o-menu__toggle button button--s">&#9776; Menu</label>
     *     </div>
     *     <input id="o-menu__checkbox-horizontal" class="o-menu__checkbox" name="o-menu__checkbox-horizontal" type="checkbox">
     *     <ul class="o-menu__list o-menu__list--level1">
     *       <li class="o-menu__item o-menu__item--level1">
     *         <a href="#" class="o-menu__link o-menu__link--level1">Link 1</a>
     *         <ul class="o-menu__list o-menu__list--level2">
     *           <li class="o-menu__item o-menu__item--level2">
     *             <a href="#" class="o-menu__link o-menu__link--level2">Link 1.1</a>
     *           </li>
     *           <li class="o-menu__item o-menu__item--level2">
     *             <a href="#" class="o-menu__link o-menu__link--level2">Link 1.2</a>
     *           </li>
     *         </ul>
     *       </li>
     *       <li class="o-menu__item o-menu__item--level1">
     *         <a href="#" class="o-menu__link o-menu__link--level1">Link 2</a>
     *       </li>
     *       <li class="o-menu__item o-menu__item--level1">
     *         <a href="#" class="o-menu__link o-menu__link--level1">Link 3</a>
     *       </li>
     *     </ul>
     *   </nav>
     */
    .o-menu--horizontal-responsive {
      @media (max-width: avalanche-breakpointmax($o-menu-mobile-breakpoint)) {
        .o-menu__list--level1 {
          height: 0;
          transform: scale(1, 0);
          transform-origin: 0 0;
        }
        .o-menu__checkbox:checked + .o-menu__list--level1 {
          height: auto;
          transform: scale(1, 1);
        }
        .o-menu__item--level1 {
          float: none;
        }
      }
      @media (min-width: $o-menu-mobile-breakpoint) {
        .o-menu__list--level1 .o-menu__list {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.2s;
        }
        .o-menu__list--level1 .o-menu__list .o-menu__list {
          top: 0;
          left: 100%;
        }
        .o-menu__item:hover > .o-menu__list,
        .o-menu__item:focus > .o-menu__list {
          visibility: visible;
          opacity: 1;
        }
        .o-menu__item--level1 {
          float: left;
        }
      }
    }
  }
}



@if $o-menu-vertical {
  /**
   * @name Vertical
   * @level 5.3.3.
   *
   * @markup
   *   <nav class="o-menu o-menu--vertical">
   *     <ul class="o-menu__list o-menu__list--level1">
   *       <li class="o-menu__item o-menu__item--level1">
   *         <a href="#" class="o-menu__link o-menu__link--level1">Link 1</a>
   *         <ul class="o-menu__list o-menu__list--level2">
   *           <li class="o-menu__item o-menu__item--level2">
   *             <a href="#" class="o-menu__link o-menu__link--level2">Link 1.1</a>
   *           </li>
   *           <li class="o-menu__item o-menu__item--level2">
   *             <a href="#" class="o-menu__link o-menu__link--level2">Link 1.2</a>
   *           </li>
   *         </ul>
   *       </li>
   *       <li class="o-menu__item o-menu__item--level1">
   *         <a href="#" class="o-menu__link o-menu__link--level1">Link 2</a>
   *       </li>
   *       <li class="o-menu__item o-menu__item--level1">
   *         <a href="#" class="o-menu__link o-menu__link--level1">Link 3</a>
   *       </li>
   *     </ul>
   *   </nav>
   */
  .o-menu--vertical {
    // no styling necessary
    // use this class to add your own stylings
  }
}
