////
/// @group Component: button
/// @author Markus Oberlehner
////

/// Button.
///
/// @param {Number [unit]} $spacing-vertical [0.5em]
///   Spacing vertical.
/// @param {Number [unit]} $spacing-horizontal [1em]
///   Spacing horizontal.
/// @param {Color} $background-color [#2196f3]
///   Background color.
/// @param {Color} $color [#fff]
///   Text color.
///
/// @example scss - Usage
///   .selector {
///     @include c-button();
///   }
@mixin c-button($spacing-vertical: 0.5em, $spacing-horizontal: 1em, $background-color: #2196f3, $color: #fff) {
  @include c-button-spacing(
    $spacing-vertical,
    $spacing-horizontal
  );
  @include c-button-color(
    $background-color,
    $color
  );

  display: inline-block;
  border: none;
  vertical-align: top;
  white-space: nowrap;
  font-size: 100%;
  font-family: inherit;
  cursor: pointer;

  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
    text-decoration: none;
  }
}

/// Button spacing.
///
/// @param {Number [unit]} $spacing-vertical [0.5em]
///   Spacing vertical.
/// @param {Number [unit]} $spacing-horizontal [1em]
///   Spacing horizontal.
///
/// @example scss - Usage
///   .selector {
///     @include c-button-spacing();
///   }
@mixin c-button-spacing($spacing-vertical: 0.5em, $spacing-horizontal: 1em) {
  padding: $spacing-vertical $spacing-horizontal;
}

/// Button full width.
///
/// @example scss - Usage
///   .selector {
///     @include c-button-full-width();
///   }
@mixin c-button-full-width() {
  width: 100%;
  text-align: center;
}

/// Button outline.
///
/// @param {Number [unit]} $border-width [0.1875em]
///   Border width.
/// @param {Color} $background-color [#2196f3]
///   Background color (when active).
/// @param {Color} $color [#fff]
///   Text color (when active).
///
/// @example scss - Usage
///   .selector {
///     @include c-button-outline();
///   }
@mixin c-button-outline($border-width: 0.1875em, $background-color: #2196f3, $color: #fff) {
  position: relative;
  transition: background-color, color;
  transition-duration: 0.2s;

  &,
  &:visited {
    color: $background-color;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $background-color;
    color: $color;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: $border-width solid $background-color;
    content: '';
  }
}

/// Button color.
///
/// @param {Color} $background-color [#2196f3]
///   Background color.
/// @param {Color} $color [#fff]
///   Text color.
///
/// @example scss - Usage
///   .selector {
///     @include c-button-color();
///   }
@mixin c-button-color($background-color: #2196f3, $color: #fff) {
  background-color: $background-color;
  transition: background-color, color;
  transition-duration: 0.2s;

  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $color;
  }

  @if type_of($color) == color {
    &:hover,
    &:focus,
    &:active {
      background-color: mix($color, $background-color, 30%);
    }
  }
}
