@import 'avalanchesass_PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER/style_guide';
@import 'avalanchesass_PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER/variable';
@import 'avalanchesass_PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER/mixin';

/* extract PACKAGE-TYPE-LOWER.css */
/* extract PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER.css */
/*---
title:   Example
name:    PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER_example
section: PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER
order:   1
---

```example:html
```
*/
.your-styles {

}
/* end extract PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER.css */
/* end extract PACKAGE-TYPE-LOWER.css */
