@import 'avalanchesass_PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER/style_guide';

/*---
title:   Mixin
name:    PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER_mixin
section: PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER
order:   2
---

```css
MIXIN()
```
*/
@mixin MIXIN() {

}
