@import '';

/* extract PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER.css */
/*---
title:   PACKAGE-NAME
name:    PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER
section: PACKAGE-TYPE
---

Description.
*/
.your-code {}
/* end extract PACKAGE-TYPE-LOWER_PACKAGE-NAME-LOWER.css */
