/*---
title: avalanche
---

A modular SASS framework.
*/
/*---
title:   About
section: avalanche
---

avalanche is a highly modular SASS framework. The goal of this framework is to
be a minimal starting point that doesn’t make assumptions how things should
look. avalanche provides a solid directory structure and a thoroughly thought
through CSS methodology.
*/
/*---
title: Function
---

Custom SASS functions.
*/
@import 'function/*';



/**
 * System variables
 */
@import 'variable';



/*---
title: Base
---

Base styles like typography and other global default styles
(mostly unclassed HTML elements).
*/
@import 'base/*variable.scss';
@import 'normalize/import-now';
// Import your dependencies here.
// e.g. @import 'avalanchesass_base_typography';
@import 'base/*';



/*---
title: Utility
---

Utility classes that do very specific things (e.g. clearfix).
*/
@import 'utility/*variable.scss';
// Import your dependencies here.
// e.g. @import 'avalanchesass_utility_clearfix';
@import 'utility/*';



/*---
title: Object
---

Non-cosmetic styles (e.g. the famous media object).
*/
@import 'object/*variable.scss';
// Import your dependencies here.
// e.g. @import 'avalanchesass_object_grid';
@import 'object/*';



/*---
title: Component
---

Concrete, implementation-specific piece of UI.
*/
@import 'component/*variable.scss';
// Import your dependencies here.
// e.g. @import 'avalanchesass_component_button';
@import 'component/*';
