/*---
title: avalanche
---

A modular SASS framework.
*/
/*---
title:   About
section: avalanche
---

avalanche is a highly modular SASS framework. The goal of this framework is to
be a minimal starting point that doesn’t make assumptions how things should
look. avalanche provides a solid directory structure and a thoroughly thought
through CSS methodology.
*/
/*---
title: Function
---

Custom SASS functions.
*/
@import 'function/*';



/**
 * Variable
 *
 * If you want to **only** import the variables from a package import them here.
 */
@import 'variable';
// Base
// e.g. @import 'avalanchesass_base_typography/variable';
@import 'base/*variable.scss';
// Object
// e.g. @import 'avalanchesass_object_grid/variable';
@import 'object/*variable.scss';
// Component
// e.g. @import 'avalanchesass_component_button/variable';
@import 'component/*variable.scss';
// Utility
// e.g. @import 'avalanchesass_utility_clearfix/variable';
@import 'utility/*variable.scss';



/**
 * Mixin
 *
 * If you want to **only** import the mixins from a package import them here.
 */
// Base
// e.g. @import 'avalanchesass_base_typography/mixin';
// Object
// e.g. @import 'avalanchesass_object_grid/mixin';
// Component
// e.g. @import 'avalanchesass_component_button/mixin';
// Utility
// e.g. @import 'avalanchesass_utility_clearfix/mixin';



/*---
title: Base
---

Base styles like typography and other global default styles
(mostly unclassed HTML elements).
*/
@import 'normalize/import-now';
// Import your dependencies here.
// e.g. @import 'avalanchesass_base_typography';
@import 'base/*';



/*---
title: Object
---

Non-cosmetic styles (e.g. the famous media object).
*/
// Import your dependencies here.
// e.g. @import 'avalanchesass_object_grid';
@import 'object/*';



/*---
title: Component
---

Concrete, implementation-specific piece of UI.
*/
// Import your dependencies here.
// e.g. @import 'avalanchesass_component_button';
@import 'component/*';



/*---
title: Utility
---

Utility classes that do very specific things (e.g. clearfix).
*/
// Import your dependencies here.
// e.g. @import 'avalanchesass_utility_clearfix';
@import 'utility/*';
