@import '~@avalanche/setting-spacings';
@import 'settings';
@import 'mixins';

.o-grid {
  @include o-grid(
    setting-spacing($o-grid-gutter-horizontal-default),
    setting-spacing($o-grid-gutter-vertical-default)
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing($o-grid-gutter-horizontal-default),
      setting-spacing($o-grid-gutter-vertical-default)
    );
  }
}

.o-grid--xs {
  @include o-grid(
    setting-spacing(xs),
    setting-spacing(xs),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(xs),
      setting-spacing(xs),
      false
    );
  }
}

.o-grid--s {
  @include o-grid(
    setting-spacing(s),
    setting-spacing(s),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(s),
      setting-spacing(s),
      false
    );
  }
}

.o-grid--s-horizontal {
  @include o-grid(
    setting-spacing(s),
    0,
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(s),
      0,
      false
    );
  }
}

.o-grid--s-vertical {
  @include o-grid(
    0,
    setting-spacing(s),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      0,
      setting-spacing(s),
      false
    );
  }
}

.o-grid--m {
  @include o-grid(
    setting-spacing(m),
    setting-spacing(m),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(m),
      setting-spacing(m),
      false
    );
  }
}

.o-grid--m-horizontal {
  @include o-grid(
    setting-spacing(m),
    0,
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(m),
      0,
      false
    );
  }
}

.o-grid--m-vertical {
  @include o-grid(
    0,
    setting-spacing(m),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      0,
      setting-spacing(m),
      false
    );
  }
}

.o-grid--l {
  @include o-grid(
    setting-spacing(l),
    setting-spacing(l),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(l),
      setting-spacing(l),
      false
    );
  }
}

.o-grid--l-horizontal {
  @include o-grid(
    setting-spacing(l),
    0,
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(l),
      0,
      false
    );
  }
}

.o-grid--l-vertical {
  @include o-grid(
    0,
    setting-spacing(l),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      0,
      setting-spacing(l),
      false
    );
  }
}

.o-grid--xl {
  @include o-grid(
    setting-spacing(xl),
    setting-spacing(xl),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(xl),
      setting-spacing(xl),
      false
    );
  }
}

.o-grid--xl-horizontal {
  @include o-grid(
    setting-spacing(xl),
    0,
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(xl),
      0,
      false
    );
  }
}

.o-grid--xl-vertical {
  @include o-grid(
    0,
    setting-spacing(xl),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      0,
      setting-spacing(xl),
      false
    );
  }
}

.o-grid--xxl {
  @include o-grid(
    setting-spacing(xxl),
    setting-spacing(xxl),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(xxl),
      setting-spacing(xxl),
      false
    );
  }
}

.o-grid--xxl-horizontal {
  @include o-grid(
    setting-spacing(xxl),
    0,
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(xxl),
      0,
      false
    );
  }
}

.o-grid--xxl-vertical {
  @include o-grid(
    0,
    setting-spacing(xxl),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      0,
      setting-spacing(xxl),
      false
    );
  }
}

.o-grid--xxxl {
  @include o-grid(
    setting-spacing(xxxl),
    setting-spacing(xxxl),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(xxxl),
      setting-spacing(xxxl),
      false
    );
  }
}

.o-grid--xxxl-horizontal {
  @include o-grid(
    setting-spacing(xxxl),
    0,
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      setting-spacing(xxxl),
      0,
      false
    );
  }
}

.o-grid--xxxl-vertical {
  @include o-grid(
    0,
    setting-spacing(xxxl),
    false
  );

  > .o-grid__item {
    @include o-grid-item(
      0,
      setting-spacing(xxxl),
      false
    );
  }
}

.o-grid--collapsed {
  margin-top: 0;
  margin-left: 0;

  > .o-grid__item {
    padding-top: 0;
    padding-left: 0;
  }
}
