/* extract utility_clearfix.css */
/*---
title:   Clearfix
name:    utility_clearfix
section: Utility
---

Contain floats.

```example:html
<div class="u-clearfix">
  <div class="stuff-that-floats"></div>
</div>
```
*/
.u-clearfix {
  @include u-clearfix();
}
/* end extract utility_clearfix.css */
