/**
 * @name Clearfix
 * @level X.X.
 * @description
 *   Contain floats
 */
@mixin u-clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: ' ';
  }
  &:after {
    clear: both;
  }
}

.u-clearfix {
  @include u-clearfix();
}
