@import 'avalanchesass_utility_clearfix/variable';
@import 'avalanchesass_utility_clearfix/mixin';

/* extract utility_clearfix.css */
/*---
title:   Clearfix
name:    utility_clearfix
section: Utility
---

Contain floats.

```example:html
<div class="#{$u-clearfix-namespace}">
  <div class="stuff-that-floats"></div>
</div>
```
*/
.#{$u-clearfix-namespace} {
  @include u-clearfix();
}
/* end extract utility_clearfix.css */
