@import 'avalanchesass_utility_clearfix/style_guide';

/*---
section: utility_clearfix_mixin
---

```css
u-clearfix()
```
```css
.foo {
  @include u-clearfix();
}
```
*/
@mixin u-clearfix() {
  &::after {
    display: block;
    clear: both;
    content: ' ';
  }
}
