/// Clearfix.
///
/// @group Utility: clearfix
/// @author Markus Oberlehner
///
/// @example scss - Usage
///   .selector {
///     @include u-clearfix();
///   }
@mixin u-clearfix() {
  &::before,
  &::after {
    display: table !important;
    content: ' ' !important;
  }

  &::after {
    clear: both !important;
  }
}
