/*---
title:   Clearfix
name:    utility_clearfix
section: Utility
---

Contain floats.
*/
/*---
title:   Example
name:    utility_clearfix_example
section: utility_clearfix
---
*/
/*---
title:   Mixin
name:    utility_clearfix_mixin
section: utility_clearfix
---
*/
/*---
title:   Variable
name:    utility_clearfix_variable
section: utility_clearfix
---
*/
