/**
 * Dependencies
 */
// System
@import 'system/variable';



@if variable-exists(u-clearfix-imported) == false {
  /**
   * @name Clearfix
   * @level 4.1.
   * @description
   *   Contain floats
   */

  @mixin u-clearfix() {
    *zoom: 1;
    &:before,
    &:after {
      display: table;
      content: ' ';
    }
    &:after {
      clear: both;
    }
  }

  .u-clearfix {
    @include u-clearfix();
  }

  $u-clearfix-imported: true;
}
