/* extract utility_font_family.css */
/*---
title:   Font family
name:    utility_font_family
section: Utility
---

Font family utility classes.
*/
@each $-font-data in $fonts {
  $-font: nth($-font-data, 1);
  .u-font-family-#{$-font} {
    @include u-font-family($-font);
  }
}
/* end extract utility_font_family.css */
