<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ base_path }}assets/vendor/prism/prism.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    {% for source_file in source %}
      <link rel="stylesheet" href="{{ source_file }}">
    {% endfor %}
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'toc.html' %}
    {% for section in sections %}
      {% include 'section.html' %}
    {% endfor %}
    {% include 'footer.html' %}

    <script src="{{ base_path }}assets/vendor/prism/prism.js"></script>
  </body>
</html>
