////
/// @group Object: container
/// @author Markus Oberlehner
////

/// Container max widths.
/// @type Map
$o-container-max-widths: (
  s: 32rem,
  m: 64rem,
  l: 96rem,
) !default;

/// Default container max width.
/// @type String
$o-container-max-width-default: m !default;

/// Horizontal spacing.
/// @type String
$o-container-spacing-horizontal: m !default;

/// Horizontal centering.
/// @type Boolean
$o-container-center-horizontal: true !default;
