@import '../scss/index';

div {
  padding: 1em;
  background: #efefef;

  &::before {
    content: '#{setting-breakpoint(s)}, #{setting-breakpoint(m)}, #{setting-breakpoint(l)}, #{setting-breakpoint(xl)}';
  }
}
