/**
 * @name Variable
 * @level 2.1.
 */
/**
 * @name Color Scheme
 * @level 2.1.1.
 * @description Fancy generator: http://coolors.co/
 */
/**
 * @name Basic colors
 * @level 2.1.1.1.
 */
$cs-a: #16193B;
$cs-a-contrast: #fff;

$cs-b: #35478C;
$cs-b-contrast: #fff;

$cs-c: #4E7AC7;
$cs-c-contrast: #fff;

$cs-d: #7FB2F0;
$cs-d-contrast: #fff;

$cs-e: #ADD5F7;
$cs-e-contrast: #fff;
/**
 * @colors
 *   $cs-a|#{$cs-a} $cs-b|#{$cs-b} $cs-c|#{$cs-c} $cs-d|#{$cs-d} $cs-e|#{$cs-e}
 *   $cs-a-contrast|#{$cs-a-contrast} $cs-b-contrast|#{$cs-b-contrast} $cs-c-contrast|#{$cs-c-contrast} $cs-d-contrast|#{$cs-d-contrast} $cs-e-contrast|#{$cs-e-contrast}
 */

/**
 * @name Colors for alerts
 * @level 2.1.1.2.
 * @description e.g. success, error, info,...
 */
$cs-positive: #468847;
$cs-neutral:  #3A87AD;
$cs-cautious: #c09853;
$cs-negative: #b94a48;
/**
 * @colors
 *   $cs-positive|#{$cs-positive} $cs-neutral|#{$cs-neutral} $cs-cautious|#{$cs-cautious} $cs-negative|#{$cs-negative}
 */

/**
 * @name Grey
 * @level 2.1.1.3.
 */
$cs-grey-a: #efefef;
$cs-grey-b: darken($cs-grey-a, 10%);
$cs-grey-c: darken($cs-grey-b, 10%);
/**
 * @colors
 *   $cs-grey-a|#{$cs-grey-a} $cs-grey-b|#{$cs-grey-b} $cs-grey-c|#{$cs-grey-c}
 */



/**
 * @name Typography
 * @level 2.1.2.
 * @description
 *   Set the font weight variables according to the font  
 *   e.g. http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700  
 *   In this case set the font weights to 200, 400 and 700  
 *   If you set a font weight in your css you must use this variables!  
 *   e.g. font-weight: $font-a-weight-normal;
 */
/**
 * @name Basic configuration
 * @level 2.1.2.1.
 *
 * 1. must be in px, do not use in your styles
 */
$font-base-size:        16px; /* [1] */
$font-base-line-height: 24px; /* [1] */
$font-base-color:       #222;
/**
 * @variables
 *   $font-base-size|#{$font-base-size} $font-base-line-height|#{$font-base-line-height} $font-base-color|#{$font-base-color}
 */

/**
 * @name Font sizes
 * @level 2.1.2.2.
 */
$font-size-xs:   0.75em;
$font-size-s:    0.85em;
$font-size-m:    1em;
$font-size-l:    1.25em;
$font-size-xl:   1.5em;
$font-size-xxl:  1.875em;
$font-size-xxxl: 2.25em;

$font-size-h1: $font-size-xxxl;
$font-size-h2: $font-size-xxl;
$font-size-h3: $font-size-xl;
$font-size-h4: $font-size-l;
$font-size-h5: $font-size-m;
$font-size-h6: $font-size-m;

/**
 * @name System fonts
 * @level 2.1.2.3.
 */
/**
 * @name Font A
 * @level 2.1.2.3.1.
 */
$font-a-family: 'Helvetica Neue', sans-serif;

$font-a-weight-thin:        100;
$font-a-weight-extra-light: 200;
$font-a-weight-light:       300;
$font-a-weight-normal:      400;
$font-a-weight-medium:      500;
$font-a-weight-semi-bold:   600;
$font-a-weight-bold:        700;
$font-a-weight-extra-bold:  800;
$font-a-weight-ultra-bold:  900;
/**
 * @font [#{$font-a-family}]
 *   ABCDEFGHIJKLMNOPQRSTUVWXYZ  
 *   abcdefghijklmnopqrstuvwxyz  
 *   0123456789  
 *   !&/()$=@;:,.
 */

/**
 * @name Font B
 * @level 2.1.2.3.2.
 */
$font-b-family: Futura, 'Trebuchet MS', sans-serif;

$font-b-weight-thin:        100;
$font-b-weight-extra-light: 200;
$font-b-weight-light:       300;
$font-b-weight-normal:      400;
$font-b-weight-medium:      500;
$font-b-weight-semi-bold:   600;
$font-b-weight-bold:        700;
$font-b-weight-extra-bold:  800;
$font-b-weight-ultra-bold:  900;
/**
 * @font [#{$font-b-family}]
 *   ABCDEFGHIJKLMNOPQRSTUVWXYZ  
 *   abcdefghijklmnopqrstuvwxyz  
 *   0123456789  
 *   !&/()$=@;:,.
 */

/**
 * @name Anchors
 * @level 2.1.2.4.
 * @markup
 *   <a href="#">Anchor</a>
 */
$a-color:                 $cs-a;
$a-color-visited:         $a-color;
$a-color-hover:           $a-color;
$a-text-decoration:       underline;
$a-text-decoration-hover: none;

/**
 * @name Text selection
 * @level 2.1.2.5.
 * @description
 *   Select some text to see it in action
 */
$selection-background: $cs-a;
$selection-color:      $cs-a-contrast;



/**
 * @name Breakpoints
 * @level 2.1.3.
 * @description
 *   More infos about media queries:  
 *   [Brad Frost - 7 Habits of highly effective media queries](http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/)
 */
/**
 * @name min Breakpoints
 * @level 2.1.3.1.
 */
$breakpoint-s:  30em;
$breakpoint-m:  45em;
$breakpoint-l:  60em;
$breakpoint-xl: 75em;
/**
 * @variables
 *   $breakpoint-s|#{$breakpoint-s} $breakpoint-m|#{$breakpoint-m} $breakpoint-l|#{$breakpoint-l} $breakpoint-xl|#{$breakpoint-xl}
 */

/**
 * @name max Breakpoints
 * @level 2.1.3.2.
 * @description
 *   Use with care, min-width breakpoints should be preferred!
 */
$breakpoint-max-s:  breakpointmax($breakpoint-s);
$breakpoint-max-m:  breakpointmax($breakpoint-m);
$breakpoint-max-l:  breakpointmax($breakpoint-l);
$breakpoint-max-xl: breakpointmax($breakpoint-xl);
/**
 * @variables
 *   $breakpoint-max-s|#{$breakpoint-max-s} $breakpoint-max-m|#{$breakpoint-max-m} $breakpoint-max-l|#{$breakpoint-max-l} $breakpoint-max-xl|#{$breakpoint-max-xl}
 */



/**
 * @name Spacing
 * @level 2.1.4.
 */
$spacing-xs:   0.5em;
$spacing-s:    1em;
$spacing-m:    strip-unit($font-base-line-height / $font-base-size) * 1em;
$spacing-l:    2em;
$spacing-xl:   3em;
$spacing-xxl:  4em;
$spacing-xxxl: 5em;
/**
 * @variables
 *   $spacing-xs|#{$spacing-xs} $spacing-s|#{$spacing-s} $spacing-m|#{$spacing-m} $spacing-l|#{$spacing-l} $spacing-xl|#{$spacing-xl} $spacing-xxl|#{$spacing-xxl} $spacing-xxxl|#{$spacing-xxxl}
 */



/**
 * @name Layout
 * @level 2.1.5.
 */
$layout-max-width: 62em;
$layout-box-sizing-reset: true;
/**
 * @variables
 *   $layout-max-width|#{$layout-max-width} $layout-box-sizing-reset|#{$layout-box-sizing-reset}
 */
