/**
 * Offset
 *
 * Offset classes mainly (but not exclusively) to be used in grids
 *
 * @level X.X.
 */
// Variables
$u-offset-item-count: 12 !default;

// Sizes
$u-offset-size-s:  true !default;
$u-offset-size-m:  true !default;
$u-offset-size-l:  true !default;
$u-offset-size-xl: true !default;



/**
 * Base
 *
 * Mobile first styles for all screen sizes
 *
 * @level X.X.X.
 * @markup
 * <div class="o-grid">
 *   <div class="o-grid__item u-width--6 u-offset--6"><span class="o-grid__inner">Grid item with offset</span></div>
 * </div>
 */
$u-offset-base-size: (100% / $u-offset-item-count);

@for $i from 1 through $u-offset-item-count {
  .u-offset--#{$i} {
    margin-left: ($u-offset-base-size * $i);
  }
}



@if $u-offset-size-s {
  /**
   * Small
   *
   * Screen sizes #{$breakpoint-s} (#{strip-unit($breakpoint-s) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid">
   *   <div class="o-grid__item u-width--12 u-width--s--6 u-offset--s--6"><span class="o-grid__inner">Grid item with offset</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-s) {
    @for $i from 1 through $u-offset-item-count {
      .u-offset--s--#{$i} {
        margin-left: ($u-offset-base-size * $i);
      }
    }
  }
}



@if $u-offset-size-m {
  /**
   * Medium
   *
   * Screen sizes #{$breakpoint-m} (#{strip-unit($breakpoint-m) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid">
   *   <div class="o-grid__item u-width--12 u-width--s--6 u-width--m--3 u-offset--m--3"><span class="o-grid__inner">Grid item with offset</span></div>
   *   <div class="o-grid__item u-width--12 u-width--s--6 u-width--m--3 u-offset--m--3"><span class="o-grid__inner">Grid item with offset</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-m) {
    @for $i from 1 through $u-offset-item-count {
      .u-offset--m--#{$i} {
        margin-left: ($u-offset-base-size * $i);
      }
    }
  }
}



@if $u-offset-size-l {
  /**
   * Large
   *
   * Screen sizes #{$breakpoint-l} (#{strip-unit($breakpoint-l) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid">
   *   <div class="o-grid__item u-width--12 u-width--m--6 u-width--l--3 u-offset--l--3"><span class="o-grid__inner">Grid item with offset</span></div>
   *   <div class="o-grid__item u-width--12 u-width--m--6 u-width--l--3 u-offset--l--3"><span class="o-grid__inner">Grid item with offset</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-l) {
    @for $i from 1 through $u-offset-item-count {
      .u-offset--l--#{$i} {
        margin-left: ($u-offset-base-size * $i);
      }
    }
  }
}



@if $u-offset-size-xl {
  /**
   * X-Large
   *
   * Screen sizes #{$breakpoint-xl} (#{strip-unit($breakpoint-xl) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid">
   *   <div class="o-grid__item u-width--12 u-width--l--6 u-width--xl--3 u-offset--xl--3"><span class="o-grid__inner">Grid item with offset</span></div>
   *   <div class="o-grid__item u-width--12 u-width--l--6 u-width--xl--3 u-offset--xl--3"><span class="o-grid__inner">Grid item with offset</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-xl) {
    @for $i from 1 through $u-offset-item-count {
      .u-offset--xl--#{$i} {
        margin-left: ($u-offset-base-size * $i);
      }
    }
  }
}
