@import 'avalanchesass_utility_spacing/style_guide';
@import 'avalanchesass_utility_spacing/variable';
@import 'avalanchesass_utility_spacing/mixin';

/* extract utility.css */
/* extract utility_spacing.css */
/*---
title:   Example
name:    utility_spacing_example
section: utility_spacing
order:   1
---
*/
@if length($u-spacing-top-sizes) >= 1 or length($u-spacing-top-sizes-with-breakpoints) >= 1 {
  /*---
  title:   Spacing top
  name:    utility_spacing_example_top
  section: utility_spacing_example
  ---
  */
}
@if length($u-spacing-top-sizes) >= 1 {
  @each $-size in $u-spacing-top-sizes {
    /*---
    title:   Spacing top: #{$-size}
    name:    utility_spacing_example_top_#{$-size}
    section: utility_spacing_example_top
    ---
```example:html
<div class="#{$u-spacing-namespace}-top-#{$-size}">
  Spacing top: #{$-size}
</div>
```
    */
    .#{$u-spacing-namespace}-top-#{$-size} {
      @include u-spacing-top($-size);
    }
  }
}
@each $-size-and-breakpoints in $u-spacing-top-sizes-with-breakpoints {
  $-size: nth($-size-and-breakpoints, 1);
  $-breakpoints: nth($-size-and-breakpoints, 2);

  @each $-breakpoint in $-breakpoints {
    /*---
    title:   Spacing top: #{$-size}@#{$-breakpoint}
    name:    utility_spacing_example_top_#{$-size}_at_#{$-breakpoint}
    section: utility_spacing_example_top
    ---

```example:html
<div class="#{$u-spacing-namespace}-top-#{$-size}@#{$-breakpoint}">
  Spacing top: #{$-size}@#{$-breakpoint}
</div>
```
    */
    @media (min-width: map-get($breakpoints, $-breakpoint)) {
      .#{$u-spacing-namespace}-top-#{$-size}\@#{$-breakpoint} {
        @include u-spacing-top($-size);
      }
    }
  }
}

@if length($u-spacing-wrap-sizes) >= 1 or length($u-spacing-wrap-sizes-with-breakpoints) >= 1 {
  /*---
  title:   Spacing wrap
  name:    utility_spacing_example_wrap
  section: utility_spacing_example
  ---
  */
}
@if length($u-spacing-wrap-sizes) >= 1 {
  @each $-size in $u-spacing-wrap-sizes {
    /*---
    title:   Spacing wrap: #{$-size}
    name:    utility_spacing_example_top_#{$-size}
    section: utility_spacing_example_top
    ---
```example:html
<div class="#{$u-spacing-namespace}-wrap-#{$-size}">
  <div>Spacing item 1</div>
  <div>Spacing item 2</div>
  <div>Spacing item 3</div>
</div>
```
    */
    .#{$u-spacing-namespace}-wrap-#{$-size} {
      @include u-spacing-wrap($-size);
    }
  }
}
@each $-size-and-breakpoints in $u-spacing-wrap-sizes-with-breakpoints {
  $-size: nth($-size-and-breakpoints, 1);
  $-breakpoints: nth($-size-and-breakpoints, 2);

  @each $-breakpoint in $-breakpoints {
    /*---
    title:   Spacing wrap: #{$-size}@#{$-breakpoint}
    name:    utility_spacing_example_wrap_#{$-size}_at_#{$-breakpoint}
    section: utility_spacing_example_wrap
    ---

```example:html
<div class="#{$u-spacing-namespace}-wrap-#{$-size}@#{$-breakpoint}">
  <div>Spacing item 1</div>
  <div>Spacing item 2</div>
  <div>Spacing item 3</div>
</div>
```
    */
    @media (min-width: map-get($breakpoints, $-breakpoint)) {
      .#{$u-spacing-namespace}-wrap-#{$-size}\@#{$-breakpoint} {
        @include u-spacing-wrap($-size);
      }
    }
  }
}
/* end extract utility_spacing.css */
/* end extract utility.css */
