@import 'avalanchesass_object_island/style_guide';
@import 'avalanchesass_object_island/variable';
@import 'avalanchesass_object_island/mixin';

/* extract object.css */
/* extract object_island.css */
/*---
title:   Example
name:    object_island_example
section: object_island
sort:    1
---
*/
@each $-size in $o-island-sizes {
  $-block-class: '#{$o-island-namespace} ';
  $-size-ext: '--#{$-size}';
  $-default-text: '';
  @if $-size == m {
    $-block-class: '';
    $-size-ext: '';
    $-size-ext-plain: '';
    @if length($o-island-sizes) > 1 {
      $-default-text: ' (default)';
    }
  }
  /*---
  title:   Size: #{$-size}#{$-default-text}
  name:    object_island_example_size_#{$-size}
  section: object_island_example
  ---

```example:html
<div class="#{$-block-class}#{$o-island-namespace}#{$-size-ext}">
  Island
</div>
```
  */
  .#{$o-island-namespace}#{$-size-ext} {
    @include o-island(map-get($spacing, $-size));
  }
}

@each $-size-and-breakpoints in $o-island-sizes-with-breakpoints {
  $-size: nth($-size-and-breakpoints, 1);
  $-breakpoints: nth($-size-and-breakpoints, 2);

  @each $-breakpoint in $-breakpoints {
    $-size-ext: '--#{$-size}';
    $-default-text: '';
    /*---
    title:   Size: #{$-size}@#{$-breakpoint}#{$-default-text}
    name:    object_island_example_size_#{$-size}_at_#{$-breakpoint}
    section: object_island_example
    ---

```example:html
<div class="#{$o-island-namespace} #{$o-island-namespace}#{$-size-ext}@#{$-breakpoint}">
Island
</div>
```
    */
    @media (min-width: map-get($breakpoints, $-breakpoint)) {
      .#{$o-island-namespace}#{$-size-ext}\@#{$-breakpoint} {
        @include o-island(map-get($spacing, $-size));
      }
    }
  }
}
/* end extract object_island.css */
/* end extract object.css */
