/**
 * Island
 *
 * A single class used to box off content, leaving it closed on all sides like, well, an island.<br>
 * [Harry Roberts - The 'island' object](http://csswizardry.com/2011/10/the-island-object/)
 *
 * @level X.X.
 */
// Variables
// Color scheme
$o-island-cs-a: true;
$o-island-cs-b: true;
$o-island-cs-c: true;
$o-island-cs-d: true;
$o-island-cs-e: true;

// Functions
$o-island-function-positive: true;
$o-island-function-neutral:  true;
$o-island-function-cautious: true;
$o-island-function-negative: true;



/**
 * Base
 *
 * @level X.X.X.
 * @markup
 * <div class="o-island">
 *   Island
 * </div>
 */
.o-island {
  display: block;
  padding: $spacing-m;
  background: $cs-grey-a;
  & > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Color scheme
 *
 * Islands using the base color scheme
 *
 * @level X.X.X.
 */
@if $o-island-cs-a {
  /**
   * cs-a
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--cs-a">
   *   cs-a Island
   * </div>
   */
  .o-island--cs-a {
    background: $cs-a;
    color: $cs-a-contrast;
  }
}

@if $o-island-cs-b {
  /**
   * cs-b
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--cs-b">
   *   cs-b Island
   * </div>
   */
  .o-island--cs-b {
    background: $cs-b;
    color: $cs-b-contrast;
  }
}

@if $o-island-cs-c {
  /**
   * cs-c
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--cs-c">
   *   cs-c Island
   * </div>
   */
  .o-island--cs-c {
    background: $cs-c;
    color: $cs-c-contrast;
  }
}

@if $o-island-cs-d {
  /**
   * cs-d
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--cs-d">
   *   cs-d Island
   * </div>
   */
  .o-island--cs-d {
    background: $cs-d;
    color: $cs-d-contrast;
  }
}

@if $o-island-cs-e {
  /**
   * cs-e
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--cs-e">
   *   cs-e Island
   * </div>
   */
  .o-island--cs-e {
    background: $cs-e;
    color: $cs-e-contrast;
  }
}



/**
 * Functions
 *
 * Islands using the function color scheme
 *
 * @level X.X.X.
 */
@if $o-island-function-positive {
  /**
   * Positive
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--positive">
   *   Positive Island
   * </div>
   */
  .o-island--positive {
    background: mix($cs-positive, #fff, 20%);
    color: $cs-positive;
  }
}

@if $o-island-function-neutral {
  /**
   * Neutral
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--neutral">
   *   Neutral Island
   * </div>
   */
  .o-island--neutral {
    background: mix($cs-neutral, #fff, 20%);
    color: $cs-neutral;
  }
}

@if $o-island-function-cautious {
  /**
   * Cautious
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--cautious">
   *   Cautious Island
   * </div>
   */
  .o-island--cautious {
    background: mix($cs-cautious, #fff, 20%);
    color: $cs-cautious;
  }
}

@if $o-island-function-negative {
  /**
   * Negative
   *
   * @level X.X.X.X.
   * @markup
   * <div class="o-island o-island--negative">
   *   Negative Island
   * </div>
   */
  .o-island--negative {
    background: mix($cs-negative, #fff, 20%);
    color: $cs-negative;
  }
}
