/* extract object_island.css */
/*---
title:   Island
name:    object_island
section: Object
---

Box off content - [Harry Roberts - The 'island' object](http://csswizardry.com/2011/10/the-island-object/).
*/
/**
 * Variables
 */
$o-island-sizes: (m) !default;



@each $-size in $o-island-sizes {
  $-size-ext: '-#{$-size}';
  $-default-text: '';
  @if $-size == m {
    $-size-ext: '';
    @if length($o-island-sizes) > 1 {
      $-default-text: ' (default)';
    }
  }
  /*---
  title:   Size: #{$-size}#{$-default-text}
  name:    object_island_size_#{$-size}
  section: object_island
  ---

```example:html
<div class="o-island#{$-size-ext}">
  Island
</div>
```
  */
  .o-island#{$-size-ext} {
    @include o-island(map-get($spacing, $-size));
  }
}
/* end extract object_island.css */
