/*---
title:   Mixin
name:    object_island_mixin
section: object_island
---

```css
o-island([$-spacing: 1.5em])
```

```css
.foo {
  @include o-island();
}
```
*/
@mixin o-island($-spacing: 1.5em) {
  padding: $-spacing;
}
