@import 'avalanchesass_object_island/style_guide';

/*---
title:   Mixin
name:    object_island_mixin
section: object_island
order:   2
---

```css
o-island([$-spacing: 1.5em])
```
*/
@mixin o-island($-spacing: 1.5em) {
  padding: $-spacing;
}
