/*---
title:   Island
name:    object_island
section: Object
---

Box off content - [Harry Roberts - The 'island' object](http://csswizardry.com/2011/10/the-island-object/).
*/
/*---
title:   Example
name:    object_island_example
section: object_island
---
*/
/*---
title:   Mixin
name:    object_island_mixin
section: object_island
---
*/
/*---
title:   Variable
name:    object_island_variable
section: object_island
---
*/
