////
/// @group Setting: font-sizes
/// @author Markus Oberlehner
////

/// Default font sizes.
/// @type Map
$font-sizes: (
  xs: 0.64em,
  s: 0.8em,
  m: 1em,
  l: 1.25em,
  xl: 1.563em,
  xxl: 1.953em,
  xxxl: 2.441em,
) !default;
