/**
 * Aspect ratio
 *
 * Maintain aspect ratio.
 *
 * @level X.X.
 * @code [scss]
 * .foo-bar {
 *   @include u-aspect-ratio(16, 9, '.foo-bar__inner');
 * }
 */
@mixin u-aspect-ratio($width, $height, $inner-selector: '.u-aspect-ratio-inner') {
  position: relative;
  &:before {
    display: block;
    padding-top: ($height / $width) * 100%;
    content: '';
  }
  > #{$inner-selector} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
