////
/// @group Object: aspect-ratio
/// @author Markus Oberlehner
////

/// Aspect ratio before styles.
///
/// @param {Number} $width [16]
///   Width.
/// @param {Number} $height [9]
///   Height.
///
/// @example scss - Usage
///   .selector::before {
///     @include o-aspect-ratio-before();
///   }
@mixin o-aspect-ratio-before($width: 16, $height: 9) {
  display: block;
  padding-top: ($height / $width) * 100%;
  content: '';
}

/// Aspect ratio inner styles.
///
/// @example scss - Usage
///   .selector__inner {
///     @include o-aspect-ratio-inner();
///   }
@mixin o-aspect-ratio-inner() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/// Maintain aspect ratio.
///
/// @param {Number} $width [16]
///   Width.
/// @param {Number} $height [9]
///   Height.
/// @param {String} $inner-selector ['.o-aspect-ratio__inner']
///   Selector for the aspect ratio inner element.
///
/// @example scss - Usage
///   .selector {
///     @include o-aspect-ratio(16, 9, '.selector__inner');
///   }
@mixin o-aspect-ratio($width: 16, $height: 9, $inner-selector: '.o-aspect-ratio__inner') {
  position: relative;

  &::before {
    @include o-aspect-ratio-before($width, $height);
  }

  > #{$inner-selector} {
    @include o-aspect-ratio-inner();
  }
}
