@if $u-menu {

/*------------------------------------*\
  MENU
\*------------------------------------*/
/**
 * CONTENTS
 * DEFAULT.............
 * MOBILE..............
 * HORIZONTAL..........
 */



/*------------------------------------*\
  $DEFAULT
\*------------------------------------*/

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  position: relative;
}

.menu__link {
  text-decoration: none;
}

.nolink {
  cursor: default;
}



/*------------------------------------*\
  $MOBILE
\*------------------------------------*/



/*------------------------------------*\
  $HORIZONTAL
\*------------------------------------*/

@include breakpoint-min($breakpoint-s) {
  .menu--horizontal {
    .menu__item--level1 {
      display: inline-block;
    }

    .menu__item--expanded {
      &:hover > .menu,
      a:focus + .menu,
      a:active + .menu,
      .menu__link--touched + .menu {
        opacity: 1;
      }
    }

    /**
     * Dropdown
     */
    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1002;
      float: left;
      width: 8em;
      background-clip: padding-box;
      opacity: 0;
      transition: opacity, 0.1s;

      .menu {
        top: 0;
        left: 8em;
      }
    }
  }
}

} // endif