/**
 * @name Button
 * @level 5.2.
 */
/**
 * Variables
 */
// Sizes
$cmp-button-size-s:    true;
$cmp-button-size-l:    true;
$cmp-button-size-xl:   true;
$cmp-button-size-full: true;

// Font sizes
$cmp-button-font-size-s:  true;
$cmp-button-font-size-l:  true;
$cmp-button-font-size-xl: true;

// Functions
$cmp-button-function-positive: true;
$cmp-button-function-neutral:  true;
$cmp-button-function-cautious: true;
$cmp-button-function-negative: true;
$cmp-button-function-inactive: true;
$cmp-button-function-disabled: true;



/**
 * @name Base
 * @level 5.2.1.
 * @markup
 *   <a href="#" class="button">Button</a>
 *   <button class="button">Button</button>
 */
.button {
  display: inline-block;
  margin: 0;
  padding: $spacing-xs $spacing-s;
  border: none;
  background: $cs-a;
  vertical-align: top;
  white-space: nowrap;
  font-size: 100%;
  font-family: inherit;
  cursor: pointer;
  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
    color: #fff;
    text-decoration: none;
  }
  &:hover,
  &:focus,
  &:active {
    background: mix($cs-a, #fff, 70%);
  }
}



/**
 * @name Sizes
 * @level 5.2.2.
 */
@if $cmp-button-size-s {
  /**
   * @name Small
   * @level 5.2.2.1.
   * @markup
   *   <a href="#" class="button button--s">Button</a>
   */
  .button--s {
    padding: 0 $spacing-xs;
  }
}

@if $cmp-button-size-l {
  /**
   * @name Large
   * @level 5.2.2.2.
   * @markup
   *   <a href="#" class="button button--l">Button</a>
   */
  .button--l {
    padding: $spacing-s $spacing-m;
  }
}

@if $cmp-button-size-xl {
  /**
   * @name X-Large
   * @level 5.2.2.3.
   * @markup
   *   <a href="#" class="button button--xl">Button</a>
   */
  .button--xl {
    padding: $spacing-m $spacing-l;
  }
}

@if $cmp-button-size-full {
  /**
   * @name Full
   * @level 5.2.2.4.
   * @markup
   *   <a href="#" class="button button--full">Button</a>
   */
  .button--full {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}



/**
 * @name Font sizes
 * @level 5.2.3.
 */
@if $cmp-button-font-size-s {
  /**
   * @name Small
   * @level 5.2.3.1.
   * @markup
   *   <a href="#" class="button button--font--s">Button</a>
   */
  .button--font--s {
    font-size: $font-size-s;
  }
}

@if $cmp-button-font-size-l {
  /**
   * @name Large
   * @level 5.2.3.2.
   * @markup
   *   <a href="#" class="button button--font--l">Button</a>
   */
  .button--font--l {
    font-size: $font-size-l;
  }
}

@if $cmp-button-font-size-xl {
  /**
   * @name X-Large
   * @level 5.2.3.3.
   * @markup
   *   <a href="#" class="button button--font--xl">Button</a>
   */
  .button--font--xl {
    font-size: $font-size-xl;
  }
}



/**
 * @name Functions
 * @level 5.2.4.
 */
@if $cmp-button-function-positive {
  /**
   * @name Positive
   * @level 5.2.4.1.
   * @markup
   *   <a href="#" class="button button--positive">Button</a>
   */
  .button--positive {
    background: $cs-positive;
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      background: mix($cs-positive, #fff, 70%);
    }
  }
}

@if $cmp-button-function-neutral {
  /**
   * @name Neutral
   * @level 5.2.4.2.
   * @markup
   *   <a href="#" class="button button--neutral">Button</a>
   */
  .button--neutral {
    background: $cs-neutral;
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      background: mix($cs-neutral, #fff, 70%);
    }
  }
}

@if $cmp-button-function-cautious {
  /**
   * @name Cautious
   * @level 5.2.4.3.
   * @markup
   *   <a href="#" class="button button--cautious">Button</a>
   */
  .button--cautious {
    background: $cs-cautious;
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      background: mix($cs-cautious, #fff, 70%);
    }
  }
}

@if $cmp-button-function-negative {
  /**
   * @name Negative
   * @level 5.2.4.4.
   * @markup
   *   <a href="#" class="button button--negative">Button</a>
   */
  .button--negative {
    background: $cs-negative;
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      background: mix($cs-negative, #fff, 70%);
    }
  }
}

@if $cmp-button-function-inactive or $cmp-button-function-disabled {
  /**
   * @name Inactive / disabled
   * @level 5.2.4.5.
   * @markup
   *   <a href="#" class="button button--inactive">Button</a>
   *   <a href="#" class="button button--disabled">Button</a>
   */
  .button--inactive,
  .button--disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: $cs-grey-a;
      color: $cs-grey-c;
    }
  }
  .button--disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      cursor: text;
    }
  }
}