/*------------------------------------*\
  ISLAND
\*------------------------------------*/
/**
 * CONTENTS
 * BASE................
 * FUNCTIONS...........
 * COLOR-SHEME.........
 */



/*------------------------------------*\
  $BASE
\*------------------------------------*/

.island {
  @extend .u-cf;
  display: block;
  padding: $spacing-m;
  background: $cs-grey-a;
  & > :last-child {
    margin-bottom: 0;
  }
}



/*------------------------------------*\
  $FUNCTIONS
\*------------------------------------*/

@if $cmp-island-function-positive {
  /**
   * Positive actions; e.g. sign in, purchase, submit, etc.
   */
  .island--positive {
    background: mix($cs-positive, #fff, 20%);
    color: $cs-positive;
  }
}

@if $cmp-island-function-neutral {
  /**
   * Neutral
   */
  .island--neutral {
    background: mix($cs-neutral, #fff, 20%);
    color: $cs-neutral;
  }
}

@if $cmp-island-function-cautious {
  /**
   * Cautious
   */
  .island--cautious {
    background: mix($cs-cautious, #fff, 20%);
    color: $cs-cautious;
  }
}

@if $cmp-island-function-negative {
  /**
   * Negative actions; e.g. close account, delete photo, remove friend, etc.
   */
  .island--negative {
    background: mix($cs-negative, #fff, 20%);
    color: $cs-negative;
  }
}



/*------------------------------------*\
  $COLOR-SHEME
\*------------------------------------*/

@if $cmp-island-cs-a {
  /**
   * cs-a
   */
  .island--cs-a {
    background: $cs-a;
    color: $cs-a-contrast;
  }
}

@if $cmp-island-cs-b {
  /**
   * cs-a
   */
  .island--cs-b {
    background: $cs-b;
    color: $cs-b-contrast;
  }
}

@if $cmp-island-cs-c {
  /**
   * cs-a
   */
  .island--cs-c {
    background: $cs-c;
    color: $cs-c-contrast;
  }
}

@if $cmp-island-cs-d {
  /**
   * cs-a
   */
  .island--cs-d {
    background: $cs-d;
    color: $cs-d-contrast;
  }
}

@if $cmp-island-cs-e {
  /**
   * cs-a
   */
  .island--cs-e {
    background: $cs-e;
    color: $cs-e-contrast;
  }
}