/**
 * @name Island
 * @level 5.4.
 */
/**
 * Variables
 */
// Functions
$cmp-island-function-positive: true;
$cmp-island-function-neutral:  true;
$cmp-island-function-cautious: true;
$cmp-island-function-negative: true;

// Color scheme
$cmp-island-cs-a: true;
$cmp-island-cs-b: true;
$cmp-island-cs-c: true;
$cmp-island-cs-d: true;
$cmp-island-cs-e: true;



/**
 * @name Base
 * @level 5.4.1.
 * @description
 *   A single class used to box off content, leaving it closed on all sides like, well, an island.  
 *   [Harry Roberts - The 'island' object](http://csswizardry.com/2011/10/the-island-object/)
 *
 * @markup
 *   <div class="island">
 *     Island
 *   </div>
 */
.island {
  display: block;
  padding: $spacing-m;
  background: $cs-grey-a;
  & > :last-child {
    margin-bottom: 0;
  }
}



/**
 * @name Functions
 * @level 5.4.2.
 */
@if $cmp-island-function-positive {
  /**
   * @name Positive
   * @level 5.4.2.1.
   * @description
   *   Positive actions; e.g. sign in, purchase, submit, etc.
   *
   * @markup
   *   <div class="island island--positive">
   *     Positive Island
   *   </div>
   */
  .island--positive {
    background: mix($cs-positive, #fff, 20%);
    color: $cs-positive;
  }
}

@if $cmp-island-function-neutral {
  /**
   * @name Neutral
   * @level 5.4.2.2.
   *
   * @markup
   *   <div class="island island--neutral">
   *     Neutral Island
   *   </div>
   */
  .island--neutral {
    background: mix($cs-neutral, #fff, 20%);
    color: $cs-neutral;
  }
}

@if $cmp-island-function-cautious {
  /**
   * @name Cautious
   * @level 5.4.2.3.
   *
   * @markup
   *   <div class="island island--cautious">
   *     Cautious Island
   *   </div>
   */
  .island--cautious {
    background: mix($cs-cautious, #fff, 20%);
    color: $cs-cautious;
  }
}

@if $cmp-island-function-negative {
  /**
   * @name Negative
   * @level 5.4.2.4.
   * @description
   *   Negative actions; e.g. close account, delete photo, remove friend, etc.
   *
   * @markup
   *   <div class="island island--negative">
   *     Negative Island
   *   </div>
   */
  .island--negative {
    background: mix($cs-negative, #fff, 20%);
    color: $cs-negative;
  }
}



/**
 * @name Color scheme
 * @level 5.4.3.
 */
@if $cmp-island-cs-a {
  /**
   * @name cs-a
   * @level 5.4.3.1.
   *
   * @markup
   *   <div class="island island--cs-a">
   *     cs-a Island
   *   </div>
   */
  .island--cs-a {
    background: $cs-a;
    color: $cs-a-contrast;
  }
}

@if $cmp-island-cs-b {
  /**
   * @name cs-b
   * @level 5.4.3.2.
   *
   * @markup
   *   <div class="island island--cs-b">
   *     cs-b Island
   *   </div>
   */
  .island--cs-b {
    background: $cs-b;
    color: $cs-b-contrast;
  }
}

@if $cmp-island-cs-c {
  /**
   * @name cs-c
   * @level 5.4.3.3.
   *
   * @markup
   *   <div class="island island--cs-c">
   *     cs-c Island
   *   </div>
   */
  .island--cs-c {
    background: $cs-c;
    color: $cs-c-contrast;
  }
}

@if $cmp-island-cs-d {
  /**
   * @name cs-d
   * @level 5.4.3.4.
   *
   * @markup
   *   <div class="island island--cs-d">
   *     cs-d Island
   *   </div>
   */
  .island--cs-d {
    background: $cs-d;
    color: $cs-d-contrast;
  }
}

@if $cmp-island-cs-e {
  /**
   * @name cs-e
   * @level 5.4.3.5.
   *
   * @markup
   *   <div class="island island--cs-e">
   *     cs-e Island
   *   </div>
   */
  .island--cs-e {
    background: $cs-e;
    color: $cs-e-contrast;
  }
}