/**
 * @name Menu
 * @level 4.3.
 */
/**
 * Variables
 */
$cmp-menu: true;

// Breakpoint for mobile version of menu
$cmp-menu-mobile-breakpoint: $breakpoint-m;

// Horizontal
$cmp-menu-horizontal: true;
$cmp-menu-horizontal-responsive: true;

// Menu vertical
$cmp-menu-vertical: true;

// Off canvas
$cmp-menu-off-canvas: true;



/*------------------------------------*\
  $DEFAULT
\*------------------------------------*/

.menu__list {
  @extend .u-list-reset;
  margin-bottom: 0;
  background: $cs-a;
}

.menu__list--level1 {
  transition: transform 0.2s;
}

.menu__item {
  position: relative;
}

.menu__link {
  display: block;
  text-decoration: none;
  &,
  &:hover,
  &:focus,
  &:visited {
    color: $cs-a-contrast;
  }
}

.menu__checkbox {
  display: none;
}

.menu__controls {
  @media (min-width: $cmp-menu-mobile-breakpoint) {
    display: none;
  }
}



@if $cmp-menu-off-canvas {
  /*------------------------------------*\
    $OFF CANVAS
  \*------------------------------------*/

  html {
    position: relative;
  }

  .menu--off-canvas {
    .menu__controls {
      display: block;
      float: right;
    }
    .menu__list--level1 {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding-top: $spacing-xl;
      max-width: 20em;
      width: 70%;
      transform: translate(-100%, 0);
    }
    .menu__checkbox:checked + .menu__list--level1 {
      transform: translate(0, 0);
    }
  }
}



@if $cmp-menu-horizontal or $cmp-menu-horizontal-responsive {
  /*------------------------------------*\
    $HORIZONTAL
  \*------------------------------------*/

  .menu--horizontal,
  .menu--horizontal-responsive {
    .menu__list--level1 {
      @extend .u-cf;
    }
  }

  @if $cmp-menu-horizontal {
    .menu--horizontal {
      .menu__list--level1 .menu__list {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s;
      }
      .menu__list--level1 .menu__list .menu__list {
        top: 0;
        left: 100%;
      }
      .menu__item:hover > .menu__list,
      .menu__item:focus > .menu__list {
        visibility: visible;
        opacity: 1;
      }
      .menu__item--level1 {
        float: left;
      }
    }
  }

  @if $cmp-menu-horizontal-responsive {
    .menu--horizontal-responsive {
      @media (max-width: avalanche-breakpointmax($cmp-menu-mobile-breakpoint)) {
        .menu__list--level1 {
          height: 0;
          transform: scale(1, 0);
          transform-origin: 0 0;
        }
        .menu__checkbox:checked + .menu__list--level1 {
          height: auto;
          transform: scale(1, 1);
        }
        .menu__item--level1 {
          float: none;
        }
      }
      @media (min-width: $cmp-menu-mobile-breakpoint) {
        .menu__list--level1 .menu__list {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.2s;
        }
        .menu__list--level1 .menu__list .menu__list {
          top: 0;
          left: 100%;
        }
        .menu__item:hover > .menu__list,
        .menu__item:focus > .menu__list {
          visibility: visible;
          opacity: 1;
        }
        .menu__item--level1 {
          float: left;
        }
      }
    }
  }
}



@if $cmp-menu-vertical {
  /*------------------------------------*\
    $VERTICAL
  \*------------------------------------*/

  .menu--vertical {
    // no styling necessary
    // use this class to add your own stylings
  }
}