////
/// @group Setting: spacings
/// @author Markus Oberlehner
////

/// Spacing sizes.
/// @type Map
$spacings: (
  xxs: 0.25em,
  xs: 0.5em,
  s: 0.75em,
  m: 1em,
  l: 1.5em,
  xl: 2em,
  xxl: 3.5em,
  xxxl: 6em,
) !default;
