/*---
title:   Grid
section: Object
---

Fluid width, responsive grid system.

**TIP:** Most likely you want to use this package in combination with the [width utility package](https://github.com/avalanchesass/avalanche_utility_width).
*/
/**
 * Variables
 */
// Flexbox grid system.
$o-grid-flex: true !default;

// Vertical spacing between items.
$o-grid-spaced-vertical-s:  false !default;
$o-grid-spaced-vertical-m:  false !default;
$o-grid-spaced-vertical-l:  false !default;
$o-grid-spaced-vertical-xl: false !default;

// Horizontal spacing between items.
$o-grid-spaced-horizontal-s:  false !default;
$o-grid-spaced-horizontal-m:  false !default;
$o-grid-spaced-horizontal-l:  false !default;
$o-grid-spaced-horizontal-xl: false !default;

// Spacing size between items.
$o-grid-spacing-s:  $spacing-m !default;
$o-grid-spacing-m:  $spacing-m !default;
$o-grid-spacing-l:  $spacing-m !default;
$o-grid-spacing-xl: $spacing-m !default;

/**
 * Mixins
 */
@mixin o-grid($flex: $o-grid-flex) {
  @if $o-grid-flex {
    display: flex;
    flex-wrap: wrap;
  } @else {
    @include u-clearfix();
  }
}

@mixin o-grid-spaced-vertical($spacing: $o-grid-spacing-m, $item-selector: '.o-grid__item') {
  margin-top: -$spacing;
  > #{$item-selector} {
    margin-top: $spacing;
  }
}

@mixin o-grid-spaced-horizontal($spacing: $o-grid-spacing-m, $item-selector: '.o-grid__item') {
  margin-left: -$spacing;
  > #{$item-selector} {
    padding-left: $spacing;
  }
}

@mixin o-grid-item($flex: $o-grid-flex) {
  @if $o-grid-flex != true {
    float: left;
  }
}



/*---
title:   Default
section: Grid
---

Default responsive grid without spacing between items.

```example:html
<div class="o-grid">
  <div class="o-grid__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="o-grid__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="o-grid__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="o-grid__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
</div>
```
*/
.o-grid {
  @include o-grid();
}

.o-grid__item {
  @include o-grid-item();
}



@if $o-grid-spaced-vertical-s or $o-grid-spaced-vertical-m or $o-grid-spaced-vertical-l or $o-grid-spaced-vertical-xl or
    $o-grid-spaced-horizontal-s or $o-grid-spaced-horizontal-m or $o-grid-spaced-horizontal-l or $o-grid-spaced-horizontal-xl {
  /*---
  title:   Spaced
  section: Grid
  ---
  */
}
@if $o-grid-spaced-vertical-s or $o-grid-spaced-vertical-m or $o-grid-spaced-vertical-l or $o-grid-spaced-vertical-xl {
  /*---
  title:   Vertical
  section: Spaced
  ---

  Vertical spacing between grid items.

  ```example:html
  <div class="o-grid o-grid--spaced-vertical">
    <div class="o-grid__item" style="width: 100%;">
      <div style="background: grey; padding: 0.5em;">width: 100%</div>
    </div>
    <div class="o-grid__item" style="width: 100%;">
      <div style="background: grey; padding: 0.5em;">width: 100%</div>
    </div>
  </div>
  ```
  */
  .o-grid--spaced-vertical {
    @if $o-grid-spaced-vertical-s {
      @include o-grid-spaced-vertical($o-grid-spacing-s);
    }
    @if $o-grid-spaced-vertical-m and $o-grid-spacing-s != $o-grid-spacing-m {
      @media (min-width: $breakpoint-m) {
        @include o-grid-spaced-vertical($o-grid-spacing-m);
      }
    }
    @if $o-grid-spaced-vertical-l and $o-grid-spacing-s != $o-grid-spacing-l {
      @media (min-width: $breakpoint-l) {
        @include o-grid-spaced-vertical($o-grid-spacing-l);
      }
    }
    @if $o-grid-spaced-vertical-xl and $o-grid-spacing-s != $o-grid-spacing-xl {
      @media (min-width: $breakpoint-xl) {
        @include o-grid-spaced-vertical($o-grid-spacing-xl);
      }
    }
  }
}

@if $o-grid-spaced-horizontal-s or $o-grid-spaced-horizontal-m or $o-grid-spaced-horizontal-l or $o-grid-spaced-horizontal-xl {
  /*---
  title:   Horizontal
  section: Spaced
  ---

  Horizontal spacing between grid items.

  ```example:html
  <div class="o-grid o-grid--spaced-horizontal">
    <div class="o-grid__item" style="width: 50%;">
      <div style="background: grey; padding: 0.5em;">width: 50%</div>
    </div>
    <div class="o-grid__item" style="width: 50%;">
      <div style="background: grey; padding: 0.5em;">width: 50%</div>
    </div>
    <div class="o-grid__item" style="width: 50%;">
      <div style="background: grey; padding: 0.5em;">width: 50%</div>
    </div>
    <div class="o-grid__item" style="width: 50%;">
      <div style="background: grey; padding: 0.5em;">width: 50%</div>
    </div>
  </div>
  ```
  */
  .o-grid--spaced-horizontal {
    @if $o-grid-spaced-horizontal-s {
      @include o-grid-spaced-horizontal($o-grid-spacing-s);
    }
    @if $o-grid-spaced-horizontal-m and $o-grid-spacing-s != $o-grid-spacing-m {
      @media (min-width: $breakpoint-m) {
        @include o-grid-spaced-horizontal($o-grid-spacing-m);
      }
    }
    @if $o-grid-spaced-horizontal-l and $o-grid-spacing-s != $o-grid-spacing-l {
      @media (min-width: $breakpoint-l) {
        @include o-grid-spaced-horizontal($o-grid-spacing-l);
      }
    }
    @if $o-grid-spaced-horizontal-xl and $o-grid-spacing-s != $o-grid-spacing-xl {
      @media (min-width: $breakpoint-xl) {
        @include o-grid-spaced-horizontal($o-grid-spacing-xl);
      }
    }
  }
}





/**
 * Order MOVE THIS TO A UTILITY PACKAGE
 * DISPLAY WARNING IF FLEX GRID IS DISABLED
 *
 * Reorder flex items
 *
 * @level X.X.
 * @markup
 * <div class="o-grid o-grid--spaced">
 *   <div class="o-grid__item u-width--6 u-order-end@m"><span class="o-grid__inner">Grid item 1</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 2</span></div>
 *   <div class="o-grid__item u-width--6 u-order-start@m"><span class="o-grid__inner">Grid item 3</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 4</span></div>
 *   <div class="o-grid__item u-width--6 u-order-1@m"><span class="o-grid__inner">Grid item 5</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 6</span></div>
 *   <div class="o-grid__item u-width--6 u-order-2@m"><span class="o-grid__inner">Grid item 7</span></div>
 *   <div class="o-grid__item u-width--6 u-order-3@m"><span class="o-grid__inner">Grid item 8</span></div>
 *   <div class="o-grid__item u-width--6 u-order-4@m"><span class="o-grid__inner">Grid item 9</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 10</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 11</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 12</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 13</span></div>
 * </div>
 */
@media (min-width: $breakpoint-m) {
  .u-order-start\@m {
    order: -9999;
  }
}
$u-order-max: 8;
@for $i from 1 through $u-order-max {
  @media (min-width: $breakpoint-m) {
    .u-order-#{$i}\@m {
      order: $i - $u-order-max;
    }
  }
}

@media (min-width: $breakpoint-m) {
  .u-order-end\@m {
    order: 9999;
  }
}
