/**
 * Grid
 *
 * Fluid width, responsive grid system
 *
 * @level X.X.
 */
// Variables
$o-grid-item-count: 12 !default;

// Sizes
$o-grid-size-s:  true !default;
$o-grid-size-m:  true !default;
$o-grid-size-l:  true !default;
$o-grid-size-xl: true !default;

// Spacing between items
$o-grid-spacing-s:  $spacing-s !default;
$o-grid-spacing-m:  $spacing-m !default;
$o-grid-spacing-l:  $spacing-m !default;
$o-grid-spacing-xl: $spacing-m !default;



/**
 * Base
 *
 * Mobile first styles for all screen sizes
 *
 * @level X.X.X.
 * @markup
 * <div class="o-grid o-grid--spaced">
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item</span></div>
 * </div>
 */
.o-grid {
  @include u-clearfix();
  &.o-grid--spaced {
    margin-left: -$o-grid-spacing-s;
  }
}

.o-grid__item {
  float: left;
  @if $layout-box-sizing-reset == false {
    box-sizing: border-box;
  }
  .o-grid--spaced & {
    padding-left: $o-grid-spacing-s;
  }
}



@if $o-grid-size-s {
  /**
   * Small
   *
   * Screen sizes #{$breakpoint-s} (#{strip-unit($breakpoint-s) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid o-grid--spaced">
   *   <div class="o-grid__item u-width--s--6"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--s--6"><span class="o-grid__inner">Grid item</span></div>
   * </div>
   */
}



@if $o-grid-size-m {
  /**
   * Medium
   *
   * Screen sizes #{$breakpoint-m} (#{strip-unit($breakpoint-m) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid o-grid--spaced">
   *   <div class="o-grid__item u-width--s--6 u-width--m--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--s--6 u-width--m--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--s--6 u-width--m--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--s--6 u-width--m--3"><span class="o-grid__inner">Grid item</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-m) {
    .o-grid {
      &.o-grid--spaced {
        margin-left: -$o-grid-spacing-m;
      }
    }

    .o-grid__item {
      .o-grid--spaced & {
        padding-left: $o-grid-spacing-m;
      }
    }
  }
}



@if $o-grid-size-l {
  /**
   * Large
   *
   * Screen sizes #{$breakpoint-l} (#{strip-unit($breakpoint-l) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid o-grid--spaced">
   *   <div class="o-grid__item u-width--m--6 u-width--l--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--m--6 u-width--l--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--m--6 u-width--l--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--m--6 u-width--l--3"><span class="o-grid__inner">Grid item</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-l) {
    .o-grid {
      &.o-grid--spaced {
        margin-left: -$o-grid-spacing-l;
      }
    }

    .o-grid__item {
      .o-grid--spaced & {
        padding-left: $o-grid-spacing-l;
      }
    }
  }
}



@if $o-grid-size-xl {
  /**
   * X-Large
   *
   * Screen sizes #{$breakpoint-xl} (#{strip-unit($breakpoint-xl) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid o-grid--spaced">
   *   <div class="o-grid__item u-width--l--6 u-width--xl--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--l--6 u-width--xl--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--l--6 u-width--xl--3"><span class="o-grid__inner">Grid item</span></div>
   *   <div class="o-grid__item u-width--l--6 u-width--xl--3"><span class="o-grid__inner">Grid item</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-xl) {
    .o-grid {
      &.o-grid--spaced {
        margin-left: -$o-grid-spacing-xl;
      }
    }

    .o-grid__item {
      .o-grid--spaced & {
        padding-left: $o-grid-spacing-xl;
      }
    }
  }
}
