/**
 * Grid
 *
 * Fluid width, responsive grid system
 *
 * @level X.X.
 */
// Variables
$o-grid-flex: true !default;

// Spaced
$o-grid-spaced-s:  false !default;
$o-grid-spaced-m:  false !default;
$o-grid-spaced-l:  false !default;
$o-grid-spaced-xl: false !default;

$o-grid-spaced-vertical-s:  false !default;
$o-grid-spaced-vertical-m:  false !default;
$o-grid-spaced-vertical-l:  false !default;
$o-grid-spaced-vertical-xl: false !default;

$o-grid-spaced-horizontal-s:  false !default;
$o-grid-spaced-horizontal-m:  false !default;
$o-grid-spaced-horizontal-l:  false !default;
$o-grid-spaced-horizontal-xl: false !default;

// Spacing between items
$o-grid-spacing-s:  $spacing-m !default;
$o-grid-spacing-m:  $spacing-m !default;
$o-grid-spacing-l:  $spacing-m !default;
$o-grid-spacing-xl: $spacing-m !default;

@mixin o-grid($flex: $o-grid-flex) {
  @if $o-grid-flex {
    display: flex;
    flex-wrap: wrap;
  } @else {
    @include u-clearfix();
  }
}

@mixin o-grid-spaced-vertical($spacing: $o-grid-spacing-m, $item-selector: '.o-grid__item') {
  margin-top: -$spacing;
  > #{$item-selector} {
    margin-top: $spacing;
  }
}

@mixin o-grid-spaced-horizontal($spacing: $o-grid-spacing-m, $item-selector: '.o-grid__item') {
  margin-left: -$spacing;
  > #{$item-selector} {
    padding-left: $spacing;
  }
}

@mixin o-grid-item($flex: $o-grid-flex) {
  @if $o-grid-flex != true {
    float: left;
  }
  @if $layout-box-sizing-reset == false {
    box-sizing: border-box;
  }
}

/**
 * Base
 *
 * Mobile first styles for all screen sizes
 *
 * @level X.X.X.
 * @markup
 * <div class="o-grid o-grid--spaced">
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item</span></div>
 * </div>
 */
.o-grid {
  @include o-grid();
}

.o-grid--spaced {
  @if $o-grid-spaced-s {
    @include o-grid-spaced-vertical($o-grid-spacing-s);
    @include o-grid-spaced-horizontal($o-grid-spacing-s);
  }
  @if $o-grid-spaced-m and $o-grid-spacing-s != $o-grid-spacing-m {
    @media (min-width: $breakpoint-m) {
      @include o-grid-spaced-vertical($o-grid-spacing-m);
      @include o-grid-spaced-horizontal($o-grid-spacing-m);
    }
  }
  @if $o-grid-spaced-l and $o-grid-spacing-s != $o-grid-spacing-l {
    @media (min-width: $breakpoint-l) {
      @include o-grid-spaced-vertical($o-grid-spacing-l);
      @include o-grid-spaced-horizontal($o-grid-spacing-l);
    }
  }
  @if $o-grid-spaced-xl and $o-grid-spacing-s != $o-grid-spacing-xl {
    @media (min-width: $breakpoint-xl) {
      @include o-grid-spaced-vertical($o-grid-spacing-xl);
      @include o-grid-spaced-horizontal($o-grid-spacing-xl);
    }
  }
}

.o-grid--spaced-vertical {
  @if $o-grid-spaced-vertical-s {
    @include o-grid-spaced-vertical($o-grid-spacing-s);
  }
  @if $o-grid-spaced-vertical-m and $o-grid-spacing-s != $o-grid-spacing-m {
    @media (min-width: $breakpoint-m) {
      @include o-grid-spaced-vertical($o-grid-spacing-m);
    }
  }
  @if $o-grid-spaced-vertical-l and $o-grid-spacing-s != $o-grid-spacing-l {
    @media (min-width: $breakpoint-l) {
      @include o-grid-spaced-vertical($o-grid-spacing-l);
    }
  }
  @if $o-grid-spaced-vertical-xl and $o-grid-spacing-s != $o-grid-spacing-xl {
    @media (min-width: $breakpoint-xl) {
      @include o-grid-spaced-vertical($o-grid-spacing-xl);
    }
  }
}

.o-grid--spaced-horizontal {
  @if $o-grid-spaced-horizontal-s {
    @include o-grid-spaced-horizontal($o-grid-spacing-s);
  }
  @if $o-grid-spaced-horizontal-m and $o-grid-spacing-s != $o-grid-spacing-m {
    @media (min-width: $breakpoint-m) {
      @include o-grid-spaced-horizontal($o-grid-spacing-m);
    }
  }
  @if $o-grid-spaced-horizontal-l and $o-grid-spacing-s != $o-grid-spacing-l {
    @media (min-width: $breakpoint-l) {
      @include o-grid-spaced-horizontal($o-grid-spacing-l);
    }
  }
  @if $o-grid-spaced-horizontal-xl and $o-grid-spacing-s != $o-grid-spacing-xl {
    @media (min-width: $breakpoint-xl) {
      @include o-grid-spaced-horizontal($o-grid-spacing-xl);
    }
  }
}

.o-grid__item {
  @include o-grid-item();
}





/**
 * Order MOVE THIS TO A UTILITY PACKAGE
 * DISPLAY WARNING IF FLEX GRID IS DISABLED
 *
 * Reorder flex items
 *
 * @level X.X.
 * @markup
 * <div class="o-grid o-grid--spaced">
 *   <div class="o-grid__item u-width--6 u-order-end@m"><span class="o-grid__inner">Grid item 1</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 2</span></div>
 *   <div class="o-grid__item u-width--6 u-order-start@m"><span class="o-grid__inner">Grid item 3</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 4</span></div>
 *   <div class="o-grid__item u-width--6 u-order-1@m"><span class="o-grid__inner">Grid item 5</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 6</span></div>
 *   <div class="o-grid__item u-width--6 u-order-2@m"><span class="o-grid__inner">Grid item 7</span></div>
 *   <div class="o-grid__item u-width--6 u-order-3@m"><span class="o-grid__inner">Grid item 8</span></div>
 *   <div class="o-grid__item u-width--6 u-order-4@m"><span class="o-grid__inner">Grid item 9</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 10</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 11</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 12</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Grid item 13</span></div>
 * </div>
 */
@media (min-width: $breakpoint-m) {
  .u-order-start\@m {
    order: -9999;
  }
}
$u-order-max: 8;
@for $i from 1 through $u-order-max {
  @media (min-width: $breakpoint-m) {
    .u-order-#{$i}\@m {
      order: $i - $u-order-max;
    }
  }
}

@media (min-width: $breakpoint-m) {
  .u-order-end\@m {
    order: 9999;
  }
}
