/**
 * @name Grid
 * @level X.X.
 */
/**
 * Variables
 */
$o-grid-item-count: 12 !default;

// Sizes
$o-grid-size-s:  true !default;
$o-grid-size-m:  true !default;
$o-grid-size-l:  true !default;
$o-grid-size-xl: true !default;

// Spacing between items
$o-grid-spacing-s:  $spacing-s !default;
$o-grid-spacing-m:  $spacing-m !default;
$o-grid-spacing-l:  $spacing-m !default;
$o-grid-spacing-xl: $spacing-m !default;



/**
 * @name Base
 * @level X.X.X.
 * @description
 *   Mobile first styles for all screen sizes
 *
 * @code
 *   <div class="o-grid o-grid--spaced">
 *     <div class="o-grid__item u-width--6">Grid Item</div>
 *     <div class="o-grid__item u-width--6">Grid Item</div>
 *   </div>
 */
.o-grid {
  @include u-clearfix();
  &.o-grid--spaced {
    margin-left: -$o-grid-spacing-s;
  }
}

.o-grid__item {
  float: left;
  @if $layout-box-sizing-reset == false {
    box-sizing: border-box;
  }
  .o-grid--spaced & {
    padding-left: $o-grid-spacing-s;
  }
}



@if $o-grid-size-s {
  /**
   * @name Small
   * @level X.X.X.
   * @description
   *   Screen sizes #{$breakpoint-s} (#{strip-unit($breakpoint-s) * $font-base-size}) and up
   *
   * @code
   *   <div class="o-grid o-grid--spaced">
   *     <div class="o-grid__item u-width--s--6">Grid Item</div>
   *     <div class="o-grid__item u-width--s--6">Grid Item</div>
   *   </div>
   */
}



@if $o-grid-size-m {
  /**
   * @name Medium
   * @level X.X.X.
   * @description
   *   Screen sizes #{$breakpoint-m} (#{strip-unit($breakpoint-m) * $font-base-size}) and up
   *
   * @code
   *   <div class="o-grid o-grid--spaced">
   *     <div class="o-grid__item u-width--s--6 u-width--m--3">Grid Item</div>
   *     <div class="o-grid__item u-width--s--6 u-width--m--3">Grid Item</div>
   *     <div class="o-grid__item u-width--s--6 u-width--m--3">Grid Item</div>
   *     <div class="o-grid__item u-width--s--6 u-width--m--3">Grid Item</div>
   *   </div>
   */
  @media (min-width: $breakpoint-m) {
    .o-grid {
      &.o-grid--spaced {
        margin-left: -$o-grid-spacing-m;
      }
    }

    .o-grid__item {
      .o-grid--spaced & {
        padding-left: $o-grid-spacing-m;
      }
    }
  }
}



@if $o-grid-size-l {
  /**
   * @name Large
   * @level X.X.X.
   * @description
   *   Screen sizes #{$breakpoint-l} (#{strip-unit($breakpoint-l) * $font-base-size}) and up
   *
   * @code
   *   <div class="o-grid o-grid--spaced">
   *     <div class="o-grid__item u-width--m--6 u-width--l--3">Grid Item</div>
   *     <div class="o-grid__item u-width--m--6 u-width--l--3">Grid Item</div>
   *     <div class="o-grid__item u-width--m--6 u-width--l--3">Grid Item</div>
   *     <div class="o-grid__item u-width--m--6 u-width--l--3">Grid Item</div>
   *   </div>
   */
  @media (min-width: $breakpoint-l) {
    .o-grid {
      &.o-grid--spaced {
        margin-left: -$o-grid-spacing-l;
      }
    }

    .o-grid__item {
      .o-grid--spaced & {
        padding-left: $o-grid-spacing-l;
      }
    }
  }
}



@if $o-grid-size-xl {
  /**
   * @name X-Large
   * @level X.X.X.
   * @description
   *   Screen sizes #{$breakpoint-xl} (#{strip-unit($breakpoint-xl) * $font-base-size}) and up
   *
   * @code
   *   <div class="o-grid">
   *     <div class="o-grid__item u-width--l--6 u-width--xl--3">Grid Item</div>
   *     <div class="o-grid__item u-width--l--6 u-width--xl--3">Grid Item</div>
   *     <div class="o-grid__item u-width--l--6 u-width--xl--3">Grid Item</div>
   *     <div class="o-grid__item u-width--l--6 u-width--xl--3">Grid Item</div>
   *   </div>
   */
  @media (min-width: $breakpoint-xl) {
    .o-grid {
      &.o-grid--spaced {
        margin-left: -$o-grid-spacing-xl;
      }
    }

    .o-grid__item {
      .o-grid--spaced & {
        padding-left: $o-grid-spacing-xl;
      }
    }
  }
}
