@import 'avalanche_object_grid/variable';
@import 'avalanche_object_grid/mixin';

/* extract object_grid.css */
/*---
title:   Grid
name:    object_grid
section: Object
---

Fluid width, responsive grid system.

**TIP:** Most likely you want to use this package in combination with the
[width utility package](https://github.com/avalanchesass/avalanche_utility_width).
*/
/*---
title:   Default
name:    object_grid_default
section: object_grid
---

Default responsive grid with vertical and horizontal spacing between items.

```example:html
<div class="#{$o-grid-namespace}">
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
</div>
```
*/
.#{$o-grid-namespace} {
  @include o-grid($o-grid-flex, $o-grid-flex-fallback);
}

.#{$o-grid-namespace}__item {
  @include o-grid-item($o-grid-flex, $o-grid-flex-fallback);
}



@if length($o-grid-spaced-vertical-sizes) >= 1 or length($o-grid-spaced-horizontal-sizes) >= 1 {
  /*---
  title:   Spacing
  name:    object_grid_spacing
  section: object_grid
  ---
  */
}
@if length($o-grid-spaced-vertical-sizes) >= 1 {
  /*---
  title:   Vertical
  name:    object_grid_spacing_vertical
  section: object_grid_spacing
  ---

  Vertical spacing between grid items.
  */
  @each $-size in $o-grid-spaced-vertical-sizes {
    $-block-class: '#{$o-grid-namespace} ';
    $-class-name: '#{$o-grid-namespace}--vertical';
    $-size-ext: '-#{$-size}';
    $-default-text: '';
    @if $-size == m {
      $-block-class: '';
      $-class-name: '#{$o-grid-namespace}';
      $-size-ext: '';
      @if length($o-grid-spaced-vertical-sizes) > 1 {
        $-default-text: ' (default)';
      }
    }
    $-selector: '.#{$-class-name}';
    /*---
    title:   Size: #{$-size}#{$-default-text}
    name:    object_grid_spacing_vertical_size_#{$-size}
    section: object_grid_spacing_vertical
    ---

```example:html
<div class="#{$-block-class}#{$-class-name}#{$-size-ext}">
  <div class="#{$o-grid-namespace}__item" style="width: 100%;">
    <div style="background: grey; padding: 0.5em;">width: 100%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 100%;">
    <div style="background: grey; padding: 0.5em;">width: 100%</div>
  </div>
</div>
```
    */
    #{$-selector}#{$-size-ext} {
      @include o-grid-spaced-vertical(map-get($spacing, $-size), '.#{$o-grid-namespace}__item');
    }
  }
  @each $-size-and-breakpoints in $o-grid-spaced-vertical-sizes-with-breakpoints {
    $-block-class: '#{$o-grid-namespace} ';
    $-class-name: '#{$o-grid-namespace}--vertical';
    $-size: nth($-size-and-breakpoints, 1);
    $-breakpoints: nth($-size-and-breakpoints, 2);

    @each $-breakpoint in $-breakpoints {
      $-size-ext: '-#{$-size}';
      /*---
      title:   Size: #{$-size}@#{$-breakpoint}
      name:    object_grid_spacing_vertical_size_#{$-size}_at_#{$-breakpoint}
      section: object_grid_spacing_vertical
      ---

```example:html
<div class="#{$-block-class}#{$-class-name}#{$-size-ext}@#{$-breakpoint}">
  <div class="#{$o-grid-namespace}__item" style="width: 100%;">
    <div style="background: grey; padding: 0.5em;">width: 100%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 100%;">
    <div style="background: grey; padding: 0.5em;">width: 100%</div>
  </div>
</div>
```
      */
      @media (min-width: map-get($breakpoints, $-breakpoint)) {
        #{$-selector}#{$-size-ext}\@#{$-breakpoint} {
          @include o-grid-spaced-vertical(map-get($spacing, $-size), '.#{$o-grid-namespace}__item');
        }
      }
    }
  }
}

@if length($o-grid-spaced-horizontal-sizes) >= 1 {
  /*---
  title:   Horizontal
  name:    object_grid_spacing_horizontal
  section: object_grid_spacing
  ---

  Horizontal spacing between grid items.
  */
  @each $-size in $o-grid-spaced-horizontal-sizes {
    $-block-class: '#{$o-grid-namespace} ';
    $-class-name: '#{$o-grid-namespace}--horizontal';
    $-size-ext: '-#{$-size}';
    $-default-text: '';
    @if $-size == m {
      $-block-class: '';
      $-class-name: '#{$o-grid-namespace}';
      $-size-ext: '';
      @if length($o-grid-spaced-horizontal-sizes) > 1 {
        $-default-text: ' (default)';
      }
    }
    $-selector: '.#{$-class-name}';
    /*---
    title:   Size: #{$-size}#{$-default-text}
    name:    object_grid_spacing_horizontal_size_#{$-size}
    section: object_grid_spacing_horizontal
    ---

```example:html
<div class="#{$-block-class}#{$-class-name}#{$-size-ext}">
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
</div>
```
    */
    #{$-selector}#{$-size-ext} {
      @include o-grid-spaced-horizontal(map-get($spacing, $-size), '.#{$o-grid-namespace}__item');
    }
  }
  @each $-size-and-breakpoints in $o-grid-spaced-horizontal-sizes-with-breakpoints {
    $-block-class: '#{$o-grid-namespace} ';
    $-class-name: '#{$o-grid-namespace}--horizontal';
    $-size: nth($-size-and-breakpoints, 1);
    $-breakpoints: nth($-size-and-breakpoints, 2);

    @each $-breakpoint in $-breakpoints {
      $-size-ext: '-#{$-size}';
      /*---
      title:   Size: #{$-size}@#{$-breakpoint}
      name:    object_grid_spacing_horizontal_size_#{$-size}_at_#{$-breakpoint}
      section: object_grid_spacing_horizontal
      ---

```example:html
<div class="#{$-block-class}#{$-class-name}#{$-size-ext}@#{$-breakpoint}">
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
</div>
```
      */
      @media (min-width: map-get($breakpoints, $-breakpoint)) {
        #{$-selector}#{$-size-ext}\@#{$-breakpoint} {
          @include o-grid-spaced-horizontal(map-get($spacing, $-size), '.#{$o-grid-namespace}__item');
        }
      }
    }
  }
}



@if $o-grid-collapsed-vertical {
  /*---
  title:   Vertical collapsed
  name:    object_grid_collapsed_vertical
  section: object_grid
  ---

```example:html
<div class="#{$o-grid-namespace} #{$o-grid-namespace}--vertical-collapsed">
  <div class="#{$o-grid-namespace}__item" style="width: 100%;">
    <div style="background: grey; padding: 0.5em;">width: 100%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 100%;">
    <div style="background: grey; padding: 0.5em;">width: 100%</div>
  </div>
</div>
```
  */
  .#{$o-grid-namespace}--vertical-collapsed {
    @include o-grid-spaced-vertical(0, '.#{$o-grid-namespace}__item');
  }
}

@if $o-grid-collapsed-horizontal {
  /*---
  title:   Horizontal collapsed
  name:    object_grid_collapsed_horizontal
  section: object_grid
  ---

```example:html
<div class="#{$o-grid-namespace} #{$o-grid-namespace}--horizontal-collapsed">
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
  <div class="#{$o-grid-namespace}__item" style="width: 50%;">
    <div style="background: grey; padding: 0.5em;">width: 50%</div>
  </div>
</div>
```
  */
  .#{$o-grid-namespace}--horizontal-collapsed {
    @include o-grid-spaced-horizontal(0, '.#{$o-grid-namespace}__item');
  }
}
/* end extract object_grid.css */
