////
/// Fluid width, responsive grid system.
///
/// @group Object: grid
/// @author Markus Oberlehner
////

/// Grid wrapper.
///
/// @example scss - Usage
///   .element {
///     @include o-grid();
///   }
///
/// @example css - CSS Output
///   .element {
///     display: flex;
///     flex-wrap: wrap;
///   }
@mixin o-grid() {
  display: flex;
  flex-wrap: wrap;
}

/// Gutter horizontal.
///
/// @param {Number [unit]} $gutter [1em]
///   Gutter spacing size.
/// @param {String} $item-selector ['.o-grid__item']
///   Grid item selector.
///
/// @example scss - Usage
///   .element {
///     @include o-grid-horizontal-gutter(1em);
///   }
///
/// @example css - CSS Output
///   .element {
///     margin-left: -1em;
///
///     > .o-grid__item {
///       padding-top: 1em;
///     }
///   }
@mixin o-grid-horizontal-gutter($gutter: 1em, $item-selector: '.o-grid__item') {
  margin-left: -$gutter;

  > #{$item-selector} {
    padding-left: $gutter;
  }
}

/// Gutter vertical.
///
/// @param {Number [unit]} $gutter [1em]
///   Gutter spacing size.
/// @param {String} $item-selector ['.o-grid__item']
///   Grid item selector.
///
/// @example scss - Usage
///   .element {
///     @include o-grid-vertical-gutter(1em);
///   }
///
/// @example css - CSS Output
///   .element {
///     margin-top: -1em;
///
///     > .o-grid__item {
///       margin-top: 1em;
///     }
///   }
@mixin o-grid-vertical-gutter($gutter: 1em, $item-selector: '.o-grid__item') {
  margin-top: -$gutter;

  > #{$item-selector} {
    margin-top: $gutter;
  }
}

/// Grid item.
///
/// @example scss - Usage
///   .element {
///     @include o-grid-item();
///   }
///
/// @example css - CSS Output
///   .element {
///     flex-grow: 1;
///     box-sizing: border-box;
///   }
@mixin o-grid-item() {
  flex-grow: 1;
  box-sizing: border-box;
}
