@import 'variable';

/**
 * Mixins
 */
@mixin o-grid($-spacing-vertical: $o-grid-spacing-vertical, $-spacing-horizontal: $o-grid-spacing-horizontal) {
  display: flex;
  flex-wrap: wrap;
  @if $-spacing-vertical > 0 {
    margin-top: -$-spacing-vertical;
  }
  @if $-spacing-horizontal > 0 {
    margin-left: -$-spacing-horizontal;
  }
}

@mixin o-grid-item($-spacing-vertical: $o-grid-spacing-vertical, $-spacing-horizontal: $o-grid-spacing-horizontal) {
  $base-box-sizing-reset: false !default;
  @if not $base-box-sizing-reset {
    box-sizing: border-box;
  }
  @if $-spacing-vertical > 0 {
    padding-top: $-spacing-vertical;
  }
  @if $-spacing-horizontal > 0 {
    padding-left: $-spacing-horizontal;
  }
}
