// @TODO: may not use separate file?

// @TODO: import default variables.
$spacing-m: 1em !default;

// Spacing.
$o-grid-spacing-vertical: $spacing-m !default;
$o-grid-spacing-horizontal: $spacing-m !default;
