/*---
title:   Layout
section: Base
---
*/
/**
 * Box sizing reset
 *
 * Better box model: [Paul Irish - * { Box-sizing: Border-box } FTW](http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
 */
html {
  box-sizing: border-box;
}
* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
