/*---
title:   Box sizing reset
name:    base_box_sizing_reset
section: Base
---

Better box model: [Paul Irish - * { Box-sizing: Border-box } FTW](http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
*/
