/**
 * @name Default
 * @level X.X.
 * @description
 *   Base styles: opinionated defaults  
 *   Adopted from the great https://html5boilerplate.com/
 */
html {
  font-size: strip-unit($font-base-size) / (16 / 100) * 1%;
  line-height: strip-unit($font-base-line-height / $font-base-size);
  @media (max-width: $breakpoint-max-m) {
    font-size: strip-unit($font-base-size) / (16 / 87.5) * 1%;
  }
  @media (max-width: $breakpoint-max-s) {
    font-size: strip-unit($font-base-size) / (16 / 75) * 1%;
  }
}

html,
button,
input,
select,
textarea {
  color: $font-base-color;
  font-family: $font-a-family;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $cs-grey-b;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::selection {
  background: $selection-background;
  color: $selection-color;
  text-shadow: none;
}
