/**
 * @name Form
 * @level X.X.
 * @markup
 *   <form>
 *     <div>
 *       <label for="text">Text field</label>
 *       <input type="text" id="text" name="text" placeholder="Placeholder">
 *     </div>
 *     <div>
 *       <label for="password">Password field</label>
 *       <input type="password" id="password" name="password">
 *     </div>
 *     <div>
 *       <label for="select">Select field</label>
 *       <select id="select" name="select"><option>test</option></select>
 *     </div>
 *     <div>
 *       <input id="radio-lorem" name="radio" type="radio" value="Lorem"> <label for="radio-lorem">Lorem</label>
 *       <input id="radio-ipsum" name="radio" type="radio" value="Ipsum"> <label for="radio-ipsum">Ipsum</label>
 *     </div>
 *     <div>
 *       <input id="checkbox-lorem" name="checkbox" type="checkbox" value="Lorem"> <label for="checkbox-lorem">Lorem</label>
 *       <input id="checkbox-ipsum" name="checkbox" type="checkbox" value="Ipsum"> <label for="checkbox-ipsum">Ipsum</label>
 *     </div>
 *     <div>
 *       <label for="file">File field</label>
 *       <input type="file" id="file" name="file">
 *     </div>
 *     <div>
 *       <label for="range">Range field</label>
 *       <input type="range" id="range" name="range">
 *     </div>
 *     <div>
 *       <input type="submit" value="Submit" class="o-button">
 *       <button type="submit" class="o-button">Submit</button>
 *      </div>
 *   </form>
 */
label {
  display: block;
}

button,
input,
textarea {
  padding: $spacing-xs;
  max-width: 100%;
  border: 1px solid $cs-grey-c;
  line-height: inherit;
  transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
  &:focus {
    outline: none;
    border-color: $cs-a;
    box-shadow: 0 0 0.375em $cs-a;
  }
}

button,
input[type='submit'] {
  border: none;
}

input[type='radio'],
input[type='checkbox'],
input[type='file'],
input[type='range'] {
  padding: 0;
  max-width: none;
  border: none;
  &:focus {
    box-shadow: none;
  }
}

input[type='radio'],
input[type='checkbox'] {
  & + label {
    display: inline-block;
  }
}

// Set the height of file controls to match text inputs
input[type='file'] {
  display: block;
  line-height: normal;
  &:focus {
    border: 0.1875em solid red;
  }
}

// Make range inputs behave like textual form controls
input[type='range'] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Reset height for `textarea`s
textarea {
  height: auto;
}
