/**
 * @name Typography
 * @level X.X.
 */
/**
 * @name Headlines
 * @level X.X.X.
 * @description
 *   <h1>Headline 1</h1>
 *   <h2>Headline 2</h2>
 *   <h3>Headline 3</h3>
 *   <h4>Headline 4</h4>
 *   <h5>Headline 5</h5>
 *   <h6>Headline 6</h6>
 */
h1,
h2,
h3,
h4 {
  color: $cs-a;
  font-weight: $font-b-weight-bold;
  font-family: $font-b-family;
  line-height: 1.35;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-weight: $font-a-weight-bold;
  font-size: $font-size-h5;
}

h6 {
  font-weight: $font-a-weight-normal;
  font-size: $font-size-h6;
}



/**
 * @name Anchors
 * @level X.X.X.
 * @markup
 *   <a href="#">readmore...</a>
 *   <span class="a">readmore...</span>
 *   <a href="#" class="a a--rev">reversed hover behaviour</a>
 */
a,
.a {
  color: $a-color;
  text-decoration: $a-text-decoration;
  cursor: pointer;
  &:visited {
    color: $a-color-visited;
  }
  &:hover,
  &:focus {
    color: $a-color-hover;
    text-decoration: $a-text-decoration-hover;
  }
}

.a--rev {
  text-decoration: $a-text-decoration-hover;
  &:hover,
  &:focus {
    text-decoration: $a-text-decoration;
  }
}



/**
 * @name Whitespace
 * @level X.X.X.
 * @markup
 *   <h2>Lorem Ipsum</h2>
 *   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 *   tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
 *   <ul>
 *     <li>Lorem Ipsum dolor</li>
 *     <li>Lorem Ipsum dolor</li>
 *   </ul>
 *   <h3>Lorem Ipsum</h3>
 *   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
 *   tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
 */
h1,
h2,
h3,
h4,
h5,
h6,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
p,
ul,
ol,
dl,
pre,
form,
table,
figure,
address,
fieldset,
blockquote {
  margin: 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 1em;
}

* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + form,
* + table,
* + figure,
* + address,
* + fieldset,
* + blockquote {
  margin-top: $spacing-m;
}

ul,
ol,
dl {
  padding-left: 1.5em;
}

/**
 * No margin top for nested lists
 */
li {
  ul,
  ol,
  dl {
    margin-top: 0;
  }
}

/**
 * No margin top for nested tables
 */
table {
  table {
    margin-top: 0;
  }
}

/**
 * Normalize default font related tags
 */
b,
strong {
  font-weight: $font-a-weight-bold;
}

small {
  font-size: $font-size-s;
}
