/**
 * @name Width
 * @level X.X.
 */
/**
 * Variables
 */
$u-width-item-count: 12 !default;

// Sizes
$u-width-size-s:  true !default;
$u-width-size-m:  true !default;
$u-width-size-l:  true !default;
$u-width-size-xl: true !default;



/**
 * @name Base
 * @level X.X.X.
 * @description
 *   Mobile first styles for all screen sizes
 *
 * @code
 *   <div class="o-grid">
 *     <div class="o-grid__item u-width--6">Grid Item</div>
 *     <div class="o-grid__item u-width--6">Grid Item</div>
 *   </div>
 */
$u-width-base-size: (100% / $u-width-item-count);

@for $i from 1 through $u-width-item-count {
  .u-width--#{$i} {
    width: ($u-width-base-size * $i);
  }
}



@if $u-width-size-s {
  /**
   * @name Small
   * @level X.X.X.
   * @description
   *   Screen sizes #{$breakpoint-s} (#{strip-unit($breakpoint-s) * $font-base-size}) and up
   *
   * @code
   *   <div class="o-grid">
   *     <div class="o-grid__item u-width--s--6">Grid Item</div>
   *     <div class="o-grid__item u-width--s--6">Grid Item</div>
   *   </div>
   */
  @media (min-width: $breakpoint-s) {
    @for $i from 1 through $u-width-item-count {
      .u-width--s--#{$i} {
        width: ($u-width-base-size * $i);
      }
    }
  }
}



@if $u-width-size-m {
  /**
   * @name Medium
   * @level X.X.X.
   * @description
   *   Screen sizes #{$breakpoint-m} (#{strip-unit($breakpoint-m) * $font-base-size}) and up
   *
   * @code
   *   <div class="o-grid">
   *     <div class="o-grid__item u-width--s--6 u-width--m--3">Grid Item</div>
   *     <div class="o-grid__item u-width--s--6 u-width--m--3">Grid Item</div>
   *     <div class="o-grid__item u-width--s--6 u-width--m--3">Grid Item</div>
   *     <div class="o-grid__item u-width--s--6 u-width--m--3">Grid Item</div>
   *   </div>
   */
  @media (min-width: $breakpoint-m) {
    @for $i from 1 through $u-width-item-count {
      .u-width--m--#{$i} {
        width: ($u-width-base-size * $i);
      }
    }
  }
}



@if $u-width-size-l {
  /**
   * @name Large
   * @level X.X.X.
   * @description
   *   Screen sizes #{$breakpoint-l} (#{strip-unit($breakpoint-l) * $font-base-size}) and up
   *
   * @code
   *   <div class="o-grid">
   *     <div class="o-grid__item u-width--m--6 u-width--l--3">Grid Item</div>
   *     <div class="o-grid__item u-width--m--6 u-width--l--3">Grid Item</div>
   *     <div class="o-grid__item u-width--m--6 u-width--l--3">Grid Item</div>
   *     <div class="o-grid__item u-width--m--6 u-width--l--3">Grid Item</div>
   *   </div>
   */
  @media (min-width: $breakpoint-l) {
    @for $i from 1 through $u-width-item-count {
      .u-width--l--#{$i} {
        width: ($u-width-base-size * $i);
      }
    }
  }
}



@if $u-width-size-xl {
  /**
   * @name X-Large
   * @level X.X.X.
   * @description
   *   Screen sizes #{$breakpoint-xl} (#{strip-unit($breakpoint-xl) * $font-base-size}) and up
   *
   * @code
   *   <div class="o-grid">
   *     <div class="o-grid__item u-width--l--6 u-width--xl--3">Grid Item</div>
   *     <div class="o-grid__item u-width--l--6 u-width--xl--3">Grid Item</div>
   *     <div class="o-grid__item u-width--l--6 u-width--xl--3">Grid Item</div>
   *     <div class="o-grid__item u-width--l--6 u-width--xl--3">Grid Item</div>
   *   </div>
   */
  @media (min-width: $breakpoint-xl) {
    @for $i from 1 through $u-width-item-count {
      .u-width--xl--#{$i} {
        width: ($u-width-base-size * $i);
      }
    }
  }
}
