/**
 * Width
 *
 * Width classes mainly (but not exclusively) to be used in grids
 *
 * @level X.X.
 */
// Variables
$u-width-item-count: 12 !default;

// Sizes
$u-width-size-s:  false !default;
$u-width-size-m:  false !default;
$u-width-size-l:  false !default;
$u-width-size-xl: false !default;



/**
 * Base
 *
 * Mobile first styles for all screen sizes
 *
 * @level X.X.X.
 * @markup
 * <div class="o-grid">
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Width item</span></div>
 *   <div class="o-grid__item u-width--6"><span class="o-grid__inner">Width item</span></div>
 * </div>
 */
$u-width-base-size: (100% / $u-width-item-count);

@for $i from 1 through $u-width-item-count {
  .u-width--#{$i} {
    width: ($u-width-base-size * $i) !important;
  }
}



@if $u-width-size-s {
  /**
   * Small
   *
   * Screen sizes #{$breakpoint-s} (#{strip-unit($breakpoint-s) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid">
   *   <div class="o-grid__item u-width--s--6"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--s--6"><span class="o-grid__inner">Width item</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-s) {
    @for $i from 1 through $u-width-item-count {
      .u-width--s--#{$i} {
        width: ($u-width-base-size * $i) !important;
      }
    }
  }
}



@if $u-width-size-m {
  /**
   * Medium
   *
   * Screen sizes #{$breakpoint-m} (#{strip-unit($breakpoint-m) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid">
   *   <div class="o-grid__item u-width--s--6 u-width--m--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--s--6 u-width--m--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--s--6 u-width--m--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--s--6 u-width--m--3"><span class="o-grid__inner">Width item</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-m) {
    @for $i from 1 through $u-width-item-count {
      .u-width--m--#{$i} {
        width: ($u-width-base-size * $i) !important;
      }
    }
  }
}



@if $u-width-size-l {
  /**
   * Large
   *
   * Screen sizes #{$breakpoint-l} (#{strip-unit($breakpoint-l) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid">
   *   <div class="o-grid__item u-width--m--6 u-width--l--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--m--6 u-width--l--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--m--6 u-width--l--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--m--6 u-width--l--3"><span class="o-grid__inner">Width item</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-l) {
    @for $i from 1 through $u-width-item-count {
      .u-width--l--#{$i} {
        width: ($u-width-base-size * $i) !important;
      }
    }
  }
}



@if $u-width-size-xl {
  /**
   * X-Large
   *
   * Screen sizes #{$breakpoint-xl} (#{strip-unit($breakpoint-xl) * $font-base-size}) and up
   *
   * @level X.X.X.
   * @markup
   * <div class="o-grid">
   *   <div class="o-grid__item u-width--l--6 u-width--xl--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--l--6 u-width--xl--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--l--6 u-width--xl--3"><span class="o-grid__inner">Width item</span></div>
   *   <div class="o-grid__item u-width--l--6 u-width--xl--3"><span class="o-grid__inner">Width item</span></div>
   * </div>
   */
  @media (min-width: $breakpoint-xl) {
    @for $i from 1 through $u-width-item-count {
      .u-width--xl--#{$i} {
        width: ($u-width-base-size * $i) !important;
      }
    }
  }
}
