<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>avalanche</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
