/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/
/**
 * CONTENTS
 * COLOR-SHEME.........Set theme colors
 * TYPOGRAPHY..........
 * BREAKPOINTS.........
 * SPACING.............
 * LAYOUT..............
 * UTILITIES...........
 * SCAFFOLDING.........
 */



/*------------------------------------*\
  $COLOR-SHEME
\*------------------------------------*/
/**
 * Basic colors
 * Fancy generator: https://kuler.adobe.com
 */
$cs-a: #16193B;
$cs-a-contrast: #fff;

$cs-b: #35478C;
$cs-b-contrast: #fff;

$cs-c: #4E7AC7;
$cs-c-contrast: #fff;

$cs-d: #7FB2F0;
$cs-d-contrast: #fff;

$cs-e: #ADD5F7;
$cs-e-contrast: #fff;

/**
 * Colors for alerts
 * e.g. success, error, info
 */
$cs-positive: #468847;
$cs-neutral:  #3A87AD;
$cs-cautious: #c09853;
$cs-negative: #b94a48;

/**
 * 3 Shades of Grey
 */
$cs-grey:       #CCCCCC;
$cs-grey-dark:  darken($cs-grey, 15%);
$cs-grey-light: lighten($cs-grey, 15%);



/*------------------------------------*\
  $TYPOGRAPHY
\*------------------------------------*/
/**
 * Set the font weight variables according to the font
 * e.g. http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700
 * In this case set the font weights to 200, 400 and 700
 *
 * If you set a font weight in your css you must use this variables!
 * e.g. font-weight: $font-a-weight-normal;
 *
 * 1. must be in px, do not use in your styles
 */
$font-base-size:        18px; /* [1] */
$font-base-line-height: 27px; /* [1] */
$font-base-color:       #222;

/**
 * Font-sizes
 */
$font-size-xs:   0.75em;
$font-size-s:    0.85em;
$font-size-m:    1em;
$font-size-l:    1.25em;
$font-size-xl:   1.5em;
$font-size-xxl:  1.875em;
$font-size-xxxl: 2.25em;

$font-size-h1: $font-size-xxxl;
$font-size-h2: $font-size-xxl;
$font-size-h3: $font-size-xl;
$font-size-h4: $font-size-l;
$font-size-h5: $font-size-m;
$font-size-h6: $font-size-m;

/**
 * Primary font
 */
$font-a-family: 'Helvetica Neue', sans-serif;

$font-a-weight-thin:        100;
$font-a-weight-extra-light: 200;
$font-a-weight-light:       300;
$font-a-weight-normal:      400;
$font-a-weight-medium:      500;
$font-a-weight-semi-bold:   600;
$font-a-weight-bold:        700;
$font-a-weight-extra-bold:  800;
$font-a-weight-ultra-bold:  900;

/**
 * Secondary font
 */
$font-b-family: serif;

$font-b-weight-thin:        100;
$font-b-weight-extra-light: 200;
$font-b-weight-light:       300;
$font-b-weight-normal:      400;
$font-b-weight-medium:      500;
$font-b-weight-semi-bold:   600;
$font-b-weight-bold:        700;
$font-b-weight-extra-bold:  800;
$font-b-weight-ultra-bold:  900;

/**
 * Anchors
 */
$a-color:                 $cs-a;
$a-color-visited:         $a-color;
$a-color-hover:           $a-color;
$a-text-decoration:       underline;
$a-text-decoration-hover: none;

/**
 * Text selection
 */
$selection-background: $cs-a;
$selection-color:      $cs-a-contrast;



/*------------------------------------*\
  $BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints
 */
$breakpoint-s:  480px;
$breakpoint-m:  720px;
$breakpoint-l:  960px;
$breakpoint-xl: 1200px;

$breakpoint-s-max:  $breakpoint-s - 1;
$breakpoint-m-max:  $breakpoint-m - 1;
$breakpoint-l-max:  $breakpoint-l - 1;
$breakpoint-xl-max: $breakpoint-xl - 1;



/*------------------------------------*\
  $SPACING
\*------------------------------------*/
/**
 * Basic spacing
 */
$spacing-xs:   0.5em;
$spacing-s:    1em;
$spacing-m:    1.25em;
$spacing-l:    2em;
$spacing-xl:   3em;
$spacing-xxl:  4em;
$spacing-xxxl: 5em;



/*------------------------------------*\
  $LAYOUT
\*------------------------------------*/

$layout-max-width: 52em;
$layout-box-sizing-reset: true;



/*------------------------------------*\
  $UTILITIES
\*------------------------------------*/
/**
 * Grid
 */
$u-grid: false;

$u-grid-item-count: 12;

// Sizes
$u-grid-size-s:  false;
$u-grid-size-m:  false;
$u-grid-size-l:  false;
$u-grid-size-xl: false;

// Spacing between items
$u-grid-spacing-s:  $spacing-s;
$u-grid-spacing-m:  $spacing-m;
$u-grid-spacing-l:  $spacing-m;
$u-grid-spacing-xl: $spacing-m;

/**
 * Button
 */
$u-button: false;

// Sizes
$u-button-size-s:    false;
$u-button-size-l:    false;
$u-button-size-xl:   false;
$u-button-size-full: false;

// Font sizes
$u-button-font-size-s:  false;
$u-button-font-size-l:  false;
$u-button-font-size-xl: false;

// Functions
$u-button-function-positive: false;
$u-button-function-neutral:  false;
$u-button-function-cautious: false;
$u-button-function-negative: false;
$u-button-function-inactive: false;
$u-button-function-disabled: false;

/**
 * Menu
 */
$u-menu: false;

/**
 * Island
 */
$u-island: false;

// Functions
$u-island-function-positive: false;
$u-island-function-neutral:  false;
$u-island-function-cautious: false;
$u-island-function-negative: false;

// Color Sheme
$u-island-cs-a: false;
$u-island-cs-b: false;
$u-island-cs-c: false;
$u-island-cs-d: false;
$u-island-cs-e: false;

/**
 * Media
 */
$u-media: false;



/*------------------------------------*\
  $SCAFFOLDING
\*------------------------------------*/

@import 'system/scaffolding';