/*------------------------------------*\
  LAYOUT
\*------------------------------------*/
/**
 * CONTENTS
 * CONTAINER...........
 */



/*------------------------------------*\
  $CONTAINER
\*------------------------------------*/

.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: $layout-max-width;
}