/*------------------------------------*\
  SPACING
\*------------------------------------*/
/**
 * CONTENTS
 * BOTTOM..............
 * INNER...............
 */



/*------------------------------------*\
  $BOTTOM
\*------------------------------------*/

.spacing--bottom--xs {
  margin-bottom: $spacing-xs;
}

.spacing--bottom--s {
  margin-bottom: $spacing-s;
}

.spacing--bottom--m {
  margin-bottom: $spacing-m;
}

.spacing--bottom--l {
  margin-bottom: $spacing-l;
}

.spacing--bottom--xl {
  margin-bottom: $spacing-xl;
}

.spacing--bottom--xxl {
  margin-bottom: $spacing-xxl;
}

.spacing--bottom--xxxl {
  margin-bottom: $spacing-xxxl;
}

.spacing--bottom--off {
  margin-bottom: 0;
}



/*------------------------------------*\
  $INNER
\*------------------------------------*/

.spacing--inner--both--xs {
  padding-top: $spacing-xs;
  padding-bottom: $spacing-xs;
}

.spacing--inner--both--s {
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
}

.spacing--inner--both--m {
  padding-top: $spacing-m;
  padding-bottom: $spacing-m;
}

.spacing--inner--both--l {
  padding-top: $spacing-l;
  padding-bottom: $spacing-l;
}

.spacing--inner--both--xl {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
}

.spacing--inner--both--xxl {
  padding-top: $spacing-xxl;
  padding-bottom: $spacing-xxl;
}

.spacing--inner--both--xxxl {
  padding-top: $spacing-xxxl;
  padding-bottom: $spacing-xxxl;
}