/*------------------------------------*\
  VISIBILITY
\*------------------------------------*/
/**
 * CONTENTS
 * HIDDEN..............
 * VISUALLYHIDDEN......
 * INVISIBLE...........
 */



/*------------------------------------*\
  $HIDDEN
\*------------------------------------*/
/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}



/*------------------------------------*\
  $VISUALLYHIDDEN
\*------------------------------------*/
/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  width: 1px; height: 1px;
  margin: -1px; padding: 0;
  position: absolute;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &.focusable:active,
  &.focusable:focus {
    width: auto; height: auto;
    margin: 0;
    position: static;
    overflow: visible;
    clip: auto;
  }
}



/*------------------------------------*\
  $INVISIBLE
\*------------------------------------*/
/**
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}