////
/// Classes to hide content with accessibility in mind.
///
/// @group Utility: visibility
/// @author Markus Oberlehner
////

/// Hide from both screenreaders and browsers.
///
/// @example scss - Usage
///   .selector {
///     @include u-visibility-hidden();
///   }
@mixin u-visibility-hidden() {
  display: none !important;
  visibility: hidden !important;
}

/// Hide only visually, but have it available for screenreaders.
///
/// @example scss - Usage
///   .selector {
///     @include u-visibility-visuallyhidden();
///   }
@mixin u-visibility-visuallyhidden() {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;

  &.is-focusable:active,
  &.is-focusable:focus {
    position: static;
    margin: 0;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: inherit;
  }
}

/// Hide visually and from screenreaders, but maintain layout.
///
/// @example scss - Usage
///   .selector {
///     @include u-visibility-invisible();
///   }
@mixin u-visibility-invisible() {
  visibility: hidden !important;
}
