/**
 * @name Visibility
 * @level X.X.
 * @description
 *   Classes to hide content with accessibility in mind
 */
/**
 * @name .u-hidden
 * @level X.X.X.
 * @description
 *   Hide from both screenreaders and browsers: [h5bp.com/u](http://h5bp.com/u)
 *
 * @code
 *   <div class="u-hidden">
 *     Nobody can see me
 *   </div>
 */
@mixin u-hidden() {
  display: none !important;
  visibility: hidden;
}

.u-hidden {
  @include u-hidden();
}



/**
 * @name .u-visuallyhidden
 * @level X.X.X.
 * @description
 *   Hide only visually, but have it available for screenreaders: [h5bp.com/v](http://h5bp.com/v)
 *
 * @code
 *   <div class="u-visuallyhidden">
 *     Only screenreader users will notice me
 *   </div>
 */
@mixin u-visuallyhidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  &.is-focusable:active,
  &.is-focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
  }
}

.u-visuallyhidden {
  @include u-visuallyhidden();
}



/**
 * @name .u-invisible
 * @level X.X.X.
 * @description
 *   Hide visually and from screenreaders, but maintain layout
 *
 * @code
 *   <div class="u-invisible">
 *     Nobody can see my contents but im still here, somehow
 *   </div>
 */
@mixin u-invisible() {
  visibility: hidden;
}

.u-invisible {
  @include u-invisible();
}
