/**
 * Visibility
 *
 * Classes to hide content with accessibility in mind
 *
 * @level X.X.
 */
/**
 * hidden
 *
 * Hide from both screenreaders and browsers: [h5bp.com/u](http://h5bp.com/u)
 *
 * @level X.X.X.
 * @markup
 * <div class="u-hidden">
 *   Nobody can see me
 * </div>
 */
@mixin u-hidden() {
  display: none !important;
  visibility: hidden !important;
}

.u-hidden {
  @include u-hidden();
}



/**
 * visuallyhidden
 *
 * Hide only visually, but have it available for screenreaders: [h5bp.com/v](http://h5bp.com/v)
 *
 * @level X.X.X.
 * @markup
 * <div class="u-visuallyhidden">
 *   Only screenreader users will notice me
 * </div>
 */
@mixin u-visuallyhidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  &.is-focusable:active,
  &.is-focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
  }
}

.u-visuallyhidden {
  @include u-visuallyhidden();
}



/**
 * invisible
 *
 * Hide visually and from screenreaders, but maintain layout
 *
 * @level X.X.X.
 * @markup
 * <div class="u-invisible">
 *   Nobody can see my contents but im still here, somehow
 * </div>
 */
@mixin u-invisible() {
  visibility: hidden !important;
}

.u-invisible {
  @include u-invisible();
}
